[2020-04-20 18:49] mellybelly opened #1 "Create dashboard for tracking hub status"
This is needed urgently

we need a way to track who has engaged with which hubs
main contact, regulatory contact, data ingest contact
status of IRB, DUA
status of data ingest
update frequency
etc.

@empfff please comment

[2020-04-20 18:57] mellybelly opened #2 "Set up weekly bulletin"
We need a mechanism to report status of hte workstreams and the hubs in each week's bulletin, and a way to archive them on the covid.cd2h.org site.

Their distribution should be coordinated with CLIC

[2020-04-20 19:40] empfff commented on #1
Yes, if this is created, I can fill in which sites have filled in the survey, along with their answers.

[2020-04-20 19:58] mellybelly commented on #1
I'm going to assign this to @monicacecilia but please feel free to re-assign.

[2020-04-22 01:39] waldenan commented on #1
we have created a draft here

[HubStatus](https://docs.google.com/spreadsheets/d/1btafAid_yWUbO6gsZzWOSVRtuipuiQRzmsMxLMJzyhw/edit#gid=0)

[2020-04-22 01:40] waldenan commented on #1
@empfff will you please check to determine if there is anything else needed on the spreadsheet. Thanks!

[2020-04-22 01:53] mellybelly commented on #1
lets reconcile with this [spreadsheet](https://docs.google.com/spreadsheets/d/1UqhIeuUfjqw7hRLo3cIj7G6zlR35j0ToSoQCL92dZlQ/edit#gid=1307066249)

we should have one source of truth.

[2020-04-22 02:51] monicacecilia commented on #1
@mellybelly, @empfff - when I created the spreadsheet (Hub Status), I added some comments to the columns, in the hopes that those would be come options in a drop/down menu.
I'll implement and see if you like.
Please also comment on whether we are missing any options.

[2020-04-22 13:00] empfff commented on #1
Do you want me to add columns to collect the responses from the site survey? Also, do you want me to go ahead and add in responses and sites from the site survey? We are up to 30 responses.

[2020-04-22 17:10] monicacecilia commented on #1
Dear Emily,
- Are the responses from the form (N3C survey) meant to be seen by the public filling up the information on the Hub Status?
- If sites themselves are adding details here, do we also want them to be able to see the responses?

[2020-04-22 17:32] empfff commented on #1
Oh I wasn't aware this spreadsheet was for sites to fill in themselves, I thought it was internal. If it's public, then I think we just need two more columns to show whether the site has filled out the site survey (yes/no) and what data model they're planning on using (OMOP, ACT, PCORnet, TriNetX).

I will make another spreadsheet with the detailed results of the site survey, and will share that i

[2020-04-22 19:29] mellybelly commented on #1
I think this should be an internal spreadsheet for the admin+leadership team to track sites info- it would be inappropriate to make the contacts etc public.

The survey results from the form are also private, but you should already have a spreadsheet with those results in the admin folder shared with you. @empfff

[2020-04-22 19:31] mellybelly commented on #1
@empfff here are the [results of the survey](https://docs.google.com/spreadsheets/d/1-XwGt7FuV7TFMTWWP22KfdxuRuzIhx5ZId7OJI92ZNE/edit?usp=drive_web&ouid=118411087353017416228) (in admin folder)

[2020-04-23 02:38] monicacecilia commented on #1
@mellybelly, @empfff :
- I updated the 'Hub Status Dashboard' spreadsheet to include all institutions listed in the 'Data Partner List' spreadsheet.
  - There were fields and information added to the 'data partner lists' which did not make much sense without further explanation. I preserved those fields in 5 columns marked as '_Imported from 'Data Partner List_' spreadsheet.'
- All institutions ar

[2020-04-23 02:39] monicacecilia commented on #2
@amvolz

[2020-04-23 14:31] empfff commented on #1
There are several duplicates in the new spreadsheet. I don't want to delete any because I'm unsure which is the "right" version of each row. (Ex: there are two UNCs, one of which says we're in region "Vanderbilt"?)

I added a new column for Site Survey complete (Y/N), but I'm wait until the dupes are removed to keep entering data.

[2020-04-23 15:53] monicacecilia commented on #1
Dear @empfff,
- The "regions" column come from the 'Data Partners List.' Any possible errors in assignment were propagated from that spreadsheet. I did not want to lose any of the data on the 'Data Partners List,' so I ported over ALL of it. My assumption is that the 'Hub Status' spreadsheet will become 'source of truth' and that Melissa and you may be able to remove / edit redundancy and errors a

[2020-04-23 16:03] monicacecilia commented on #1
Update: 🌻
- There are only 4 marked duplicate pairs, marked as [DUPE] and highlighted in yellow.
- @mellybelly @empfff please review and disambiguate.

[2020-04-24 13:49] amvolz commented on #2
Per Mariam, bulletin content should be sent to Ken with cc: Mariam, Usman every Monday am for approval by NCATS. Approved content will be turned around in 48 hours/Weds. Bulletin can be disseminated after that. A Constant Contact template has been set up, but can only be sent to the listservs CD2H owns (N3C All Hands, CD2H All Hands). CLIC owns the iEC and CTSA mailing lists so bulletin will have

[2020-04-24 16:15] empfff opened #3 "Cancel Tuesday version of Phenotype calls"
Hello,

We need to cancel the Tuesday version of the Phenotype calls--we're going to go to a once a week format. Please leave the Friday calls as is. Thanks!

Emily

[2020-04-25 01:57] mellybelly opened #4 "create onboarding documents"
We will need a "package" of governance and phenotype/data egress info to send to sites. A draft should be made available by Tuesday. It should include the NCATS Data Transfer Agreement and IRB, as well as phenotype and data pull info, and finally contact info for assistance.

[2020-04-25 01:58] mellybelly commented on #4
@empfff also need Chris, Christine

[2020-04-25 01:59] mellybelly opened #5 "Schedule onboarding calls"
can be done either ad hoc or during weekly phenotype and governance meetings. But generally need a place to have new sites ask questions that is pre-announced.

[2020-04-25 02:00] mellybelly opened #6 "assign sites for engagement"
who are early phase?

[2020-04-27 18:25] cgcook commented on #5
Melissa, I'm not completely sure I understand this request.  Can you provide the details, or can we discuss?  Thanks.

[2020-04-27 20:50] waldenan commented on #4
https://docs.google.com/document/d/1kQBkibubdmuy4fy48xaTTX5sGP4Q--zq7Na7UUGNY_I/edit

[2020-04-27 20:53] mellybelly commented on #4
looks like another one was already created here: https://docs.google.com/document/d/1dz_L_KNB1dhRNeCOxw0VEa1I3fuHOw7lgv_-fB5xSUY/edit
i have been helping to edit this one

[2020-04-27 23:21] mellybelly commented on #5
Hi Connor, we had discussed the idea of using the governance and/or phenotype calls as venues to help hubs w onboarding rather than holding separate calls. I am not sure if we are far enough along yet to be able to do this, but with the DTA ready and the phenotype ready, perhaps we could take 15 mins each week as a standing agenda item to answer hub questions? or do we need to schedule one off cal

[2020-04-28 13:24] empfff commented on #5
I think it would be good to schedule specific onboarding calls rather than squeezing them into existing call agendas. That said, I don't necessarily think it needs to be 1-on-1--we could have onboarding calls with multiple sites at once. Maybe schedule an onboarding call once a week and bill it as "office hours," where any site that needs to onboard can show up?

[2020-04-28 15:42] dietzr commented on #3
The Tuesday meetings have now been cancelled.

[2020-04-28 15:42] #3 closed

[2020-04-29 16:55] empfff opened #7 "Cancel one meeting instance"
Hello,

Can someone on the admin team cancel Thursday's instance of the phenotype small group call? (half-hour meeting, 12:30 EST). Only need Thursday's cancelled--the rest of the series can stay as is.

Thanks!
Emily

[2020-04-29 18:43] dietzr commented on #7
Hi Emily! I can do that. Would you like all Thursday meetings cancelled or just the 4/30 instance?

[2020-04-29 18:52] empfff commented on #7
Just the one instance please, thanks!

[2020-04-29 18:54] dietzr commented on #7
Occurence cancelled.

[2020-04-29 18:54] #7 closed

[2020-05-08 13:53] mellybelly opened #8 "make new workstream for synthetic data"
@prpayne5 is the lead and can provide text. @alexisgraves can you come up with an icon?

[2020-05-08 18:50] amvolz commented on #2
Per NCATS meeting 5/7/2020: N3C Weekly Bulletin now will be sent to Emily Carlson emily.carlson@nih.gov every Monday 9 am PT, with cc: Usman and Mariam. Emily will review and forward to appropriate people at NCATS for their review. (Eventually may be handed to another person as the point of contact.)

Approved content is returned on Wednesdays and placed in Constant Contact template (for now). Mai

[2020-05-11 21:22] waldenan opened #9 "Set up the new 'Synthetic Clinical Data' Workstream"
**The tasks listed below need to be completed by Thursday, 14-May-2020**:

- Name: Synthetic Clinical Data
- @andrewjneumann is the Lead Project Manager
- Here are the slides [N3C_SynthClinData_Workstream_v2[2].pptx](https://github.com/National-COVID-Cohort-Collaborative/operations/files/4612199/N3C_SynthClinData_Workstream_v2.2.pptx)
- [x] Set up a Google Listserv/group (on or before 13-May-2020)

[2020-05-12 02:24] waldenan opened #10 "N3C CTSA Webinar back on for Friday 15th"
We need to schedule the **N3C CTSA Webinar** for Friday the 15th either at 10am, 11am or 12 PT.

- [ ] Need to contact the list of potential attendees after Melissa has reviewed the list with NCATS

- [ ] Need to schedule a time for the Friday Webinar by tomorrow

- [ ] Need to Send out to CTSA an announcement by Tuesday COB (draft language)

- [ ] Update the News Bulletin with dates and times by

[2020-05-12 16:35] andrewjneumann commented on #9
Breaking out tasks, as to do's in Synthetic Clinical Data project for granular tracking, will close this issues once all are complete.

[2020-05-13 16:21] waldenan opened #11 "Clinical Scenarios and Data Analytics Google Group (listserv) needed this week"
As indicated last week we need a Google Group (listserv) for the Collaborative Analytics Workstream Subgroup- **Clinical Scenario and Data Analytics**

We need it this week (by Thursday) so a meeting reminder can be sent on **Friday.**
This list should be populated with those who have been invited and who have attended the Clinical Scenario and Data Analytics group. It should be compared with emai

[2020-05-13 17:18] waldenan opened #12 "Welcome Partner Packet Website Text -Due May 13th"
The Website team needs the Welcome Package text that will be displayed on the N3C landing page.

[2020-05-14 15:37] andrewjneumann commented on #11
https://groups.google.com/forum/#!forum/n3c-clinical has been created. Per standup yesterday, names need to be added to the group, set email w/ questions last night.

[2020-05-14 16:21] waldenan opened #13 "Hub packet website text - Due May 14th"
Starter Welcome Packet website text is here. Melissa you review it and send to the Website group to be posted with the hub packet.

[Clinical Institutions Welcome Packet text ](https://docs.google.com/document/d/17NWSbDyIlCErtf5lzhcsF3cZhIgJ8LF2RJHgzjzkeiQ/edit)

_The Welcome Packet is for clinical institutions who want to participate in the N3C effort. The packet contains important information on

[2020-05-14 16:57] andrewjneumann commented on #11
Invited people that were on @racquel's list. We should send this Friday's email to both lists, groups will only deliver one.

[2020-05-15 15:23] dietzr commented on #10
Friday's webinar has been scheduled. Attendees were contacted for their availability via email and at the leadership standup.

[2020-05-15 23:12] andrewjneumann opened #14 "Test issue"
Test issue

[2020-05-15 23:29] amvolz commented on #9
My task is done. Unable to check the box above.

[2020-05-18 19:08] #10 closed

[2020-05-18 19:28] waldenan opened #15 "Action Item Tracking System"
All, I am not sure if there is a ticket for this but here are some requirements for the action item list.

- One Click overview of all action items by date with an alert when items are pass due
- Overview one page of all action items by Workstream and sub groups (new, closed, pending) with notes by date that may explain what is taking place (ex. why pass due)

- Date action was opened, date last m

[2020-05-18 21:14] waldenan opened #16 "Dashboard for Hub tracking"
A Site dashboard to track the various stages of the sites readiness is needed. [Hub Tracking and Requirements](https://docs.google.com/spreadsheets/d/1btafAid_yWUbO6gsZzWOSVRtuipuiQRzmsMxLMJzyhw/edit#gid=0)

[DTA Tacking](https://docs.google.com/spreadsheets/d/1erpo_8QChByp-yqk0tfYutKPzjmeoWRvrkDO1QQ_YfE/edit#gid=0)

[2020-05-19 01:36] waldenan opened #17 "Governance Meeting - AI: Talk with Ken about DAC and Steering committee -"
ACTION ITEM: Melissa will talk to Ken about sending the DAC to CTSA Steering Committee and NCATS, N3C Steering committee (doesn’t include Synthetic data) - update on AI requested by May 19th

[2020-05-19 01:41] mellybelly commented on #17
I am happy to send once i know the documentation is ready. Can @cfsuver confirm what to send?

[2020-05-19 15:43] waldenan commented on #17
To clarify, I think you were planning to talk to Ken if we should send the DAC to the CTSA Steering Committee, CD2H Steering Committee and NCATS to review once it is ready.  A process questions... Thanks!

[2020-05-21 15:19] dietzr commented on #9
First three meetings have been scheduled. We are working on confirming the weekly time.

[2020-05-21 15:40] #14 closed

[2020-05-22 14:42] waldenan opened #18 "Adding Chats to the meeting notes"
There was a request to add the Workstream meeting Chats to the notes. Can we look into seeing if that is possible and if so, can we plan to implement it by next Wed or Thursday?

- We will need the method
- Document the process in a document
- Identify who is responsible for adding the the chat
- Communicate it during the Admin Stand up

[2020-05-22 16:57] cgcook commented on #18
Method: to capture the chat dialogue, the webinars or meeting must be recorded. At the the end of the meeting, Zoom produces a .txt file of the chat dialogue and sends to the host.

Process [here](https://docs.google.com/document/d/1uXW0gPmjqGTGm8iY1mRm9qaFxY-gIREXmB_GLu5mA4E/edit#)

Responsible person(s) for this task - Meeting host

Communicated process during Admin Stand up.

[2020-05-25 19:07] waldenan commented on #16
@eichmann

I have gone through the Hub Dashboard Worksheet spreadsheet and standardized the data but it hasn't been validated by a 2nd person yet.
Ignore the following columns: "D" and  "E" For columns E and AB I haven't changed it in the spreadsheet yet but it should be Yes only response. I am not used to working with Google sheets so I have to figure out how to change it.To separate multiples in

[2020-05-26 13:49] waldenan opened #19 "Stephen Lee on Clinical Scenario Listserv Today Please! 26May"
Stephen Lee wants to know if he is on the Clinical Scenario Listserv. I don’t have permissions to see it.
Will you double check that Stephen Lee has been added to the Clinical Scenario group and please confirm with him (cc:me).

[2020-05-26 14:57] waldenan opened #20 "N3C Collaborative Analytics Portals and Dashboards Weekly Meeting- New (later) time needed"
N3C Collaborative Analytics Portals and Dashboards Weekly Meeting needs a later time. It is currently at 7am which is a little early for some of the westcoast people. Will you find another time to start the week of June 2nd or June 3rd.

Rafael will you provide Racquel with the key attendees (Leads/PMs) so she can work around their schedules

Thank you,
Anita

[2020-05-26 17:14] dietzr commented on #19
@andrewjneumann has taken care of this request.

[2020-05-26 17:14] #19 closed

[2020-05-26 18:03] mellybelly opened #21 "need form for CoC reports"
Not sure where this ticket goes but logging it here for now. We need a form for folks to report violations or concerns about others conduct.  see the draft CoC here: https://docs.google.com/document/d/17io37EDsPYGMWA93xcpNxeqMqXceRrYphUbnoSludVU/edit

[2020-05-26 19:24] dietzr commented on #20
Per Rafael, the most essential attendees are Rafael, Usman, Dave, and Warren. I have sent a [Doodle](https://doodle.com/poll/bnrif3h27eg6w6mm) to those four.

[2020-05-27 23:35] waldenan opened #22 "Leads Call Modify Friday's 29May schedule from 12pmET to 2pm ET"
We are going to move the Friday Lead's meeting from Friday at 12pm ET to 2pm ET on the 29th.

Let's see if this works for all future Leads calls too.

[2020-05-27 23:37] #11 closed

[2020-05-28 02:17] cgcook commented on #22
@waldenan @mellybelly Double checking on this request, as I saw a slack message (N3C-admin) from Melissa around the same time as this ticket re: moving the SC call.

Can either of you confirm meeting times for this Friday:
Leads: 9a PT or 11a PT
SC: 9a PT or 11a PT

Thanks.

[2020-05-28 02:20] mellybelly commented on #22
I think we are keeping the leads call the same, and shooting to move the SC to a full hour at 11PT. I checked with @waldenan and she seemed to think that would work. Please let me know if you think otherwise, else please make it so.

[2020-05-28 16:08] waldenan commented on #22
Connor either is fine with me.  Whichever meeting is easier to move.   If
we keep the SC during the normal time from 9-10am we may have more
attendance from them.
Anita Walden

On Wed, May 27, 2020 at 7:20 PM Melissa Haendel <notifications@github.com>
wrote:

[2020-05-28 17:14] cgcook commented on #22
The SC should have 9-10a PT already blocked on their calendars for Friday.  The N3C leads have 930-10a PT blocked.

To my knowledge we haven't asked either the SC or the N3C leads about the 11-12p PT time on Friday.

Which meeting are we moving?  And do we need to confirm all/a majority of the SC or leads can attend at 11a PT, or is the idea just to move the invite?

Thanks!

[2020-05-28 17:18] waldenan commented on #22
I would suggest keeping our SC at the normal time 9-10 and move the Leads
to 11am.

Anita Walden

On Thu, May 28, 2020 at 10:14 AM Connor <notifications@github.com> wrote:

[2020-05-28 17:19] waldenan commented on #22
Thank you!
Anita Walden

On Thu, May 28, 2020 at 10:18 AM Anita Walden <anita.walden@sagebase.org>
wrote:

[2020-05-28 17:31] waldenan opened #23 "Onboarding Slack Use Issue Please Fix by 28May"
Chunlei Wu report this earlier today...I don't know if I can attach the email so I copied it. It may be an onboarding process issue.

Connor,  Will you

- [x] address the issue

- [x] Follow up with Deepack and Chunlei today

Hi Rafael,

           I invited Deepak Unni (deepak.unni3@lbl.gov) from the Translator project to join N3C analytics workstream. Look like he is having some issues to join s

[2020-05-28 17:51] cgcook commented on #23
Confirming I sent Deepak a slack invite; and a follow up email to him, Chunlei and Anita.

[2020-05-28 17:51] #23 closed

[2020-05-28 18:18] cgcook commented on #22
Confirming SC call will be 9am PT and the N3C Leads will move to 11-12p PT.  Meeting invite will be updated shortly.

@dietzr pls close ticket once you updated the calendar invite.  Thanks!

[2020-05-28 18:25] dietzr commented on #22
N3C Leads invite has been moved to 11am PT tomorrow. This is 30 mins per Anita on the N3C Admin daily stand up today. Once we decide on a new weekly time I will update the invite accordingly.

[2020-05-28 18:25] #22 closed

[2020-06-01 16:36] dietzr commented on #20
This meeting has been rescheduled to Wednesdays at 11am PT/1pm CT/2pm ET. The invite has been updated.

[2020-06-01 16:36] #20 closed

[2020-06-01 21:23] mellybelly opened #24 "add meeting recording and chat saving to PM SOP"
We should record all meetings (workstreams and subgroups)
for the text chats- we need to remove all private chat notes before posting those

[2020-06-01 23:41] waldenan commented on #16
We need an aggregate spreadsheet/view of the following information by site. Similar to the spreadsheet we have.

**Data sources:**

Data Source 1
[Data Sources](https://docs.google.com/spreadsheets/d/1erpo_8QChByp-yqk0tfYutKPzjmeoWRvrkDO1QQ_YfE/edit#gid=0)
DTA/DUA tracking spreadsheet

Columns to include in Dashboard:
Column A -Match Site names with other spreadsheets
Column C - DTA Sent
Column D

[2020-06-02 18:56] andrewjneumann opened #25 "06052020 issue due by friday"
issue due by friday

[2020-06-02 18:58] #25 closed

[2020-06-02 18:58] andrewjneumann opened #26 "06042020"
issues in progress

[2020-06-04 18:13] andrewjneumann commented on #24
This was discussed on an admin call this week & has been added to PM SOP proposal

[2020-06-04 18:13] #24 closed

[2020-06-04 19:27] andrewjneumann opened #27 "06052020Test- Review the COVID grants"
Will review the COVID grants to determine if those on the grants can be considered covered entity and don't need a DUA to have access to the data. Need to determine if they need IRB approval

[2020-06-06 03:02] #1 closed

[2020-06-06 03:02] #2 closed

[2020-06-10 04:26] mellybelly opened #28 "add github members to the org"
e.g. I could not find @jmcmurry in the data governance repo

[2020-06-10 04:27] mellybelly commented on #16
@jmcmurry @andrewjneumann are working on the source spreadsheet I believe

[2020-06-10 23:19] #27 closed

[2020-06-11 01:57] andrewjneumann commented on #28
@jmcmurry is here unless joined after this was created. I need owner access to org to be able to add people. I understand this is already in process and happy to help.

<img width="1029" alt="Screen Shot 2020-06-10 at 6 54 27 PM" src="https://user-images.githubusercontent.com/38451425/84336453-1e27a400-ab4c-11ea-9cd7-ea91c021d839.png">

[2020-06-11 02:12] mellybelly commented on #28
you have the power!

[2020-06-11 02:13] mellybelly commented on #28
and julie is there now too

[2020-06-11 16:12] andrewjneumann commented on #28
@jmcmurry is this https://developer.github.com/v3/orgs/members/#set-organization-membership-for-a-user something we're able to add to your google script?

[2020-06-12 13:54] waldenan commented on #16
@eichmann is it possible to provide @jmcmurry and shawn O'Neil the mappings of institution names across the spreadsheets?

[2020-06-12 13:58] waldenan commented on #16
Andrew so far hasn't been brought into this discussion. It has been shawn

[2020-06-12 14:11] monicacecilia opened #29 "Identify email address for privacy notice."
I received a question: __Is there a contact email for N3C that could be displayed on the (NCATS/N3C) privacy notice?__

@mellybelly:
- Is data2health [at] gmail [dot] com the appropriate one for them to use? This is the address that is offered as 'contact info' in the N3C All Hands Bulletin. It does not include the word 'N3C' in the address.
- NCATS generated this address: N3C [at] nih [dot] gov -

[2020-06-12 14:14] mellybelly commented on #29
there should be emails for NCATS N3C and CD2H N3C each. These are the two correct ones listed above. I don't know if the CD2H one is needed in this context on the NIH site though? It is certainly fine to list it but CD2H doesn't have any legal authority.

[2020-06-12 15:48] waldenan opened #30 "Coordinate FAQs between N3C and NCATS websites -Complete by June 19"
We need to make sure the N3C FAQs are reviewed by NCATS and there is coordination between the groups on the process.

- [ ] Establish a process for initial posting of FAQs

- [ ] Review process of maintaining FAQs (new FAQs and review of existing incase there are changes)

- [ ] Work with NCATS on the Coordination of FAQs between websites

- [ ] Report progress on daily N3C Stand up and Leads Call

[2020-06-12 17:28] monicacecilia commented on #29
Thank you @mellybelly! 🎉
I think we have what we need, @deacyma. 🌺
Closing. :bowtie:

[2020-06-12 17:28] #29 closed

[2020-06-12 20:46] cgcook commented on #28
I've added everyone who's onboarded since N3C's inception and provided a github handle.

The onboarding form asks but does not require a GitHub handle.  The onboarding description for the GitHub question reads:
_We use Github for issue tracking and management. You can get one free from GitHub.com if you do not already have one. You will be able to view issues without a handle, however, you will no

[2020-06-12 20:47] cgcook commented on #28
FYI, there are 45 pending invites as of now (6.12.2020 1:46pm PT).

[2020-06-12 20:49] #28 closed

[2020-06-12 20:51] cgcook commented on #5
Hi all.  Following up to clarify/confirm if this is still needed, or if the Phenotype office hours have satisfied this request?

[2020-06-13 00:34] mellybelly opened #31 "compare n3c-all-hands to cd2h-all-hands"
I'd like a diff between the two, and then an auto-add for a subset to N3C.
@cgcook please reassign as necessary

[2020-06-15 14:28] empfff commented on #5
Yes I think you can close.

[2020-06-15 15:24] cgcook commented on #5
Thanks Emily.

[2020-06-15 15:24] #5 closed

[2020-06-15 23:14] amvolz commented on #30
Edits are in the works. Many have contributed and commented. Ken Gersing is looking at some specific comments now. Plan to have draft ready to send to NCATS on Fri 6/19.

There is no process in place yet for what happens when new FAQs are added, and how often the website version will be updated.

So far, there is no real overlap with the NCATS FAQs, but this will have to be monitored as people add

[2020-06-17 17:36] cgcook opened #32 "Registration / Onboarding: Track all requirements here"
Centrally tracing requirements in this ticket; add/merge all requirements to this ticket.

- [ ] Overall list of participants
- [ ] Participant list of each workstream and subgroup
- [ ] self serve listservs/google groups
- [ ] Communication: meetings
- [ ] Drive access
- [ ] Individual contact info for communication (may be separate from drive access)
- [ ] Asst contact info for scheduling
- [ ]

[2020-06-17 18:15] cgcook commented on #32
For Hub tracking:

- [ ] Institutional key (FWA or ROR)

considerations:
citizen scientists
Pharma

[2020-06-17 18:24] cgcook commented on #32
For federated login:

- [ ] institutional email

[2020-06-17 19:28] waldenan commented on #16
@jmcmurry For those Users Organizations who do not have FWAs what will be used? Some will have a IRB or/and DUA but not DTA. For example Sage may not have a FWA.

[2020-06-17 19:58] cgcook opened #33 "Establish standard intro slide template for all N3C large workstream meetings"
**Needs:**

- [ ] identify an owner to facilitate the discussion and implementation
- [ ] process document that outlines:

- how to keep slides updated
- which workstream meetings will be displayed
- what will be on the slide
- will sub groups use the slide
- [ ] Slide template with following details:

- DTAs sent
- DTAs Executed - 36
- IRB protocols approved – 13
- sIRBs Approved - 10
- local IRB

[2020-06-17 20:06] waldenan opened #34 "Welcome Letter for New N3C Sites - Andrea . - 24June20"
Need a Welcome Letter for N3C Sites who are on boarding...primarily the Consortium sites.

- [ ] Andrea will you harmonize the Welcome Packet letter and this [email letter](https://docs.google.com/document/d/1S0dxlZ5ukxCAlS8LxjypAvM3H7UDM3kkZ4vXedMS6l0/edit) template.

- [ ] Send the draft to Anita and Tricia for review and consist messaging across site communications

- [ ] once Tricia and Anita

[2020-06-17 23:33] waldenan commented on #32
**Additional Requirements for those who want Access to the Data Only.**
It was suggested/question between the Gov and Harmonization groups if those who want only to access the data that they also need to onboard, create an account or profile.

If they want to use the data they have to provide the following information: This may be a combination of CD2H-N3C onboarding or registration through NCATS

[2020-06-17 23:53] mellybelly commented on #32
If they are not required to onboard to get in, we will have to have a synch mechanism to onboard them, which is more prone to breakage. It was decided that it is a requirement to be onboarded. @nqureshi maybe you have ideas how this should work.

[2020-06-18 16:51] ychae commented on #33
@cgcook here's what the Collaborative Analytics slide template would look like with the above information:
![CA-slide-template-screenshot](https://user-images.githubusercontent.com/12868382/85049073-17e78800-b149-11ea-8fb5-faeb65795d46.png)

Is there a single place where all these numbers are tracked and can be ported to the slides?

[2020-06-18 16:55] amvolz commented on #34
Harmonized and updated letter information to create new template. Emailed to Anita & Tricia for review.

[2020-06-18 16:58] amvolz commented on #30
More FAQs have been compiled and edited, though not quite complete. Per Anita, will put on Fri 6/19 Leadership meeting agenda. Not sure if will be ready for NCATS on Fri 6/19. Will need process for closing document to editing when it goes to NCATS for approval.

[2020-06-18 17:00] amvolz commented on #34
https://docs.google.com/document/d/1S0dxlZ5ukxCAlS8LxjypAvM3H7UDM3kkZ4vXedMS6l0/edit

[2020-06-18 21:40] cgcook commented on #33
@ychae there is not a single place where this is tracked; which is why the slides have not been harmonized across the workstreams.

@tricfran - pls link your tracking sheet here.

@LisaOKeefe1 pls link your tracking sheet here.

@waldenan - pls link any other relevant dashboards (we have access to) here.

[2020-06-18 21:47] LisaOKeefe1 commented on #33
@cgcook
Here's my doc that shares the process I go through to track sites from DTA/IRB to connecting with us. https://docs.google.com/document/d/1aBIswkpw5m5nVABRvGs11O3qv6Ug1QRlvW1a_y7PhhE/edit

Here is the DTA spreadsheet (NCATS is owner) I check: https://docs.google.com/spreadsheets/d/1erpo_8QChByp-yqk0tfYutKPzjmeoWRvrkDO1QQ_YfE/edit#gid=0

Here is Tricia's spreadsheet with IRB I check (JHU own

[2020-06-19 15:37] waldenan commented on #34
Let's try two versions. A welcome packet version and an email version that is much shorter and similar to what was in the example.

Will you work on an email version that is similar to the one I provided. This can be used by Ken when communicating to sites.

Example:
Step 1. IRB approval to transfer the limited data set.  John Hopkins University has set up a central IRB. and will serve as the revi

[2020-06-19 21:02] ychae commented on #33
Thank you @LisaOKeefe1!

[2020-06-21 19:12] amvolz commented on #30
First version of FAQs was sent to Emily Marti/NCATS Fri June 19 as directed. Approved FAQs will be color coded on the "source of truth" google doc to indicate that they can be put on the website. web team is creating place on website to place FAQs once approved by NCATS. (See Covid website repository Issue #36.) Melissa has requested first round of approved FAQs to be posted on the website before

[2020-06-22 18:31] jmcmurry commented on #33
@ychae all of the above that Lisa mentioned are integrated [here](https://docs.google.com/spreadsheets/d/1btafAid_yWUbO6gsZzWOSVRtuipuiQRzmsMxLMJzyhw/edit#gid=1450344994); however each of those also has this identical merged view fed to the respective tabs called "feedIn".

[2020-06-23 00:22] amvolz commented on #34
Here is the shorter (slightly) email version for Ken to use.
https://docs.google.com/document/d/1VGGqCq7ERC0fYW1hGHEgi-EZ_8JXycz2htezKcjRto8/edit

[2020-06-23 14:59] mellybelly opened #35 "make sure all marker paper authors are on N3c-allhands"
form is here: https://docs.google.com/spreadsheets/d/1As6C9zGorfqwGWdRvf-YRzdeEduhxNG5K1sYjXMsBtY/edit#gid=1642696804

please reassign if needed

[2020-06-23 19:39] waldenan opened #36 "Tooling Certification Criteria/ Requirements for the Enclave"
The Governance Group has requested that the tooling and Palantir teams design a process to certify tooling & software.

*Certified Software can be made available in -Verified to not return identified results or row level data according to the Data Access Tiers.

A verification process is needed to document to include but not limited to:

- Validation of new software/tools
- Validation when changes

[2020-06-23 20:21] ychae commented on #33
Updated requirements list from @jmcmurry's [HUB Status Dashboard - N3C, requirements tab](https://docs.google.com/spreadsheets/d/1btafAid_yWUbO6gsZzWOSVRtuipuiQRzmsMxLMJzyhw/edit#gid=1122609290)
* DTAs sent
* DTAs Executed
* IRB protocols approved
* sIRBs Approved
* local IRBs Approved
* Both DTA and IRB complete
* Sites engaged with Data Acquisition Group
* Sites deposited data
* Sites w/ Data Pa

[2020-06-24 06:11] jmcmurry commented on #31
I've finished adding all the vestigial cd2h stragglers; more people continue to join but this can be closed.

[2020-06-24 06:11] #31 closed

[2020-06-24 06:42] jmcmurry commented on #33
As of right now, it is my understanding that Raju is also tracking the data model choice; however, I'm going to consider [Emily's sheet](https://docs.google.com/spreadsheets/d/1_uZUFcutAG1HWFBPjgosNcVFtm-1_bBm3owqJrzJAzU/edit#gid=0) the SoT for this info.

What is the definition of pipeline in the above requirements? Eg. Does pipeline start with contact with Emily's team? Does it start with IRB ap

[2020-06-24 14:06] mellybelly commented on #33
This information should be able to be populated from the new master hub tracking spreadsheet to a shared slide that can be imported/linked for each workstream.

the pipeline starts has multiple starting places:
1a) DTA is signed with NIH
1b) IRB is signed locally or with JHU
1c) Emily's team is in contact with the hub (Sites engaged with Data Acquisition Group)
All of these need to happen before d

[2020-06-24 16:05] jmcmurry commented on #33
For the avoidance of doubt then, "in the pipeline" means that all three of those criteria are met (regardless of order), right?

Also, is this table what is most useful for the last part of the slide?

...|All sites with data in pipeline|All sites in pipeline and also currently passing data
---|----|----
OMOP |
PCORNet|
ACT|
TrinetX|
i2b2|
TBD|
total |

Please confirm or clarify

[2020-06-24 16:19] LisaOKeefe1 commented on #33
@jmcmurry It depends on what "in the pipeline' means to the group at large. For my group having then pass through 1-2 leads them to being in the pipeline with us but that doesn't mean they have deposited data yet.  I'd like @empfff to weigh in. If "in th pipeline" means successfully passing data and onto harmonization, there will be other steps that must be complete.

[2020-06-24 17:28] empfff commented on #33
My definition of "in the pipeline" is (1) IRB is done, (2) DTA is done, (3) they have SFTP credentials (which means they've engaged with my group OR Raju in some way), and (4) they've successfully passed at least one data payload.

[2020-06-24 17:47] jmcmurry commented on #33
Thank you so much, @empfff. I will stick with your definition as it is the most rigorous and we should put this definition anywhere that fine "in the pipeline" numbers are sold ;)

[2020-06-24 18:30] mellybelly commented on #33
that sounds good to me, however the DTAs are sometimes before and sometimes after the IRB. i would remove i2b2 from the table since we don't have any sites sending i2b2, and make the TBD "other" or remove for now. its not really needed.

[2020-06-24 22:10] cgcook commented on #33
FYI, this ticket is related to the [Dashboard for Hub Tracking ticket](https://github.com/National-COVID-Cohort-Collaborative/operations/issues/16).  Posting here so all are aware of the other ticket.

[2020-06-25 16:09] #9 closed

[2020-06-25 20:58] amvolz opened #37 "N3C Zenodo Community products to upload and activities"
Working with Sara Gonzales to update the language on the N3C Zenodo Community landing page.
Inquiring with Kristi if a direct deposit resource in GitHub can go into Zenodo.
Also may have to inquire with CERN if we can get privileges for multiple editors on Zenodo page.

[2020-06-25 21:56] amvolz commented on #37
Per Melissa's email of 6/23, Dave to look into how documents in Enclave get pushed to Zenodo community

[2020-06-26 04:42] cgcook commented on #35
All [listed paper authors](https://docs.google.com/spreadsheets/d/1As6C9zGorfqwGWdRvf-YRzdeEduhxNG5K1sYjXMsBtY/edit#gid=1642696804) are on the N3C-allhands list, except:

- Michael Kurilla
- Joni Rutter
- Lora Lingrey
- Gordon Bernard
- Ebony Boulware
- Christopher Mason
- Anna O'Malley

@mellybelly would you like me to add these individuals directly to the list?

[2020-06-26 17:43] amvolz commented on #37
Andrea edited landing page text 6/25/2020 and sent to Sara Gonzales/curator to upload.

Kristi's Comments to questions:
**1. Can we  implement a direct deposit resource from GitHub into the N3C Zenodo Community?**
a. It is possible to make that happen, possibly https://guides.github.com/activities/citable-code/ and https://blog.jupyter.org/binder-with-zenodo-af68ed6648a6 are helpful here.
b. To an

[2020-06-29 17:41] cgcook commented on #32
[Onboarding: Needs and stakeholders ](https://docs.google.com/spreadsheets/d/1DYWLkTRTHzYJvHyr7qmRg61IXzWg576qrkX3cVpj80E/edit#gid=0)

[2020-06-30 16:03] waldenan opened #38 "Andrea- Update Welcome packet text-to correct the Non US Citizens Statement - Due July 1st"
NCATs realized there was an issue with the text in the welcome packet.

There is a misstatement in our welcome packet.  We are able to allow non-US citizens and citizen scientist access to the N3C portal HOWEVER we are NOT able to accept any data from foreign sites.

- [ ] Will you update the text

- [ ] Send the revised version to Emily or her back up for NCATs review (asking her to review the ch

[2020-06-30 18:01] ychae commented on #33
https://docs.google.com/presentation/d/1sLtzxOU_MZ9quVfYYScrJZ8qHFobWHU3-P58sC4tv50/edit#slide=id.p

[2020-06-30 19:12] amvolz commented on #30
13 FAQs have been approved by NCATS. New item under ABOUT menu has been created for N3C FAQs. More to come and process to be finalized with NCATS Communications Team. Workstream pages are under development, but will incorporate their respective FAQs as well.

[2020-06-30 21:36] amvolz commented on #38
@waldenan I am updating the Welcome Letter in the Partnership Packet as well, because it is out of date. However, I do not see where the citizen statement is mentioned. Can you please clarify which document in the packet you are referring to? There are many.

[2020-06-30 23:22] amvolz commented on #38
@waldenan Updated slides 2 & 5 in the N3C Governance-20200508 slide deck. (We should update the date in the title when approved by NCATS.) Also updated the Partnership Packet Cover Letter and the Contacts & Workstreams list. Sent all 3 documents to NCATS Communications Team for approval.

[2020-07-01 00:52] mellybelly opened #39 "make draft cross-workstream survey"
Please make a draft google survey based on the content within these documents.
Consider length as well as needs from each group. The questions could be binned by group as well.
https://docs.google.com/document/d/1i1_m-QUarxE0JIa9KHkQdGnQFHv3r_Tk4u3ENmbJ7ME/edit

- NLP: rows 1-12 in the linked document?
- tools survey: use all of these
- site survey: Include all qustions in the main document.
- App

[2020-07-01 01:01] jmcmurry commented on #39
1) We need a pre-amble explaining the people and circumstances in which this data will be shared.
2) Name and Institution will be asked once

[2020-07-01 01:02] cgcook commented on #35
per conversation, all listed paper authors above have been added to the N3C-allhands list.

[2020-07-01 01:02] #35 closed

[2020-07-01 01:05] jmcmurry commented on #39
Each sub-survey should first be drafted as a spreadsheet. This way we can more effectively consolidate and prioritize.

[2020-07-01 01:20] waldenan commented on #38
Thank you!
Anita Walden

On Tue, Jun 30, 2020 at 4:22 PM Andrea Volz <notifications@github.com>
wrote:

[2020-07-02 00:00] amvolz commented on #38
Anita & I revised the Partnership Cover Letter and slides a bit more today. They are in NCATS hands for approving.

[2020-07-06 22:46] cgcook commented on #39
wireframe started [here](https://docs.google.com/spreadsheets/d/1l7FMuEgdeN4HZ3asSrVr_03-ewGS3DsU26ear3qY5K4/edit#gid=164513418).

form template [here](https://docs.google.com/forms/d/1fVV4fCUK7XOTQLc7yXAcpqUhW0jaVR0VEHpCnvWSFwY/edit).

[2020-07-07 01:46] cgcook commented on #39
draft survey [here](https://forms.gle/GufZp6M7HEFp3GSw6).  will be shared with Leads tomorrow (7/7) for vetting; for distribution in bulletin on Wed (7/8).

[2020-07-07 02:02] #39 closed

[2020-07-07 20:42] amvolz commented on #30
13 approved FAQs were moved to RESOURCES menu along with NCATS FAQs so they can be accessed together. (NCATS Communications Team still to approve more on our list which will be added.) Workstream pages are under development, but will incorporate their respective FAQs as well.

[2020-07-09 01:10] ychae commented on #33
Here are the remaining items that require input -- the links lead to the specific slide which shows either an example or a template (this list is also present in [this slide](https://docs.google.com/presentation/d/1sLtzxOU_MZ9quVfYYScrJZ8qHFobWHU3-P58sC4tv50/edit#slide=id.g8af2ceb09b_0_913) and is easier to navigate):

- Graphics slide:
  - [Graphic in paper](https://docs.google.com/presentation/d

[2020-07-09 04:09] jmcmurry commented on #32
Just an update that I discovered quite accidentally in google groups an undocumented (and potentially new? accidentally exposed?) way to programmatically pull all of the members (not just the GSuite ones). I spoke with @eichmann today about it and he is on the job to:

- pull all of the membership from these CSVs
- pull all the slack membership info
- join the tables and feed the result back to a

[2020-07-09 15:50] waldenan commented on #33
Hi Yooree,

Thank you for the information. I think 3-4 slides are needed.

   1. The DTA/IRB/DUA Status slide
   2. Announcements slide: This may be a little difficult but N3C wide
   information or Workstream announcements. Example: meeting cancelations, DUA
   has been approved by NCATS...
   3. and a slide where people can indicate what has been accomplishments
   and planned activities similar

[2020-07-09 21:27] amvolz commented on #34
This ticket sparked the need to revise the Welcome Letter in the Partnership Packet, which is now almost the same as this welcome letter. The email created is a slightly shorter version of this letter. Per Issue #38, the revised Partnership letter was sent to NCATS to review.  (Seems like a lot of correspondence saying essentially the same thing; difficult for version control if something gets cha

[2020-07-09 21:31] amvolz commented on #33
I can begin working on the slide for style specs, i.e. color palette, font, point size.

[2020-07-09 21:58] waldenan commented on #34
Ken just sent me a revised version. We should meet tomorrow or Monday to
compare the two. I will send it to you.
Anita Walden

On Thu, Jul 9, 2020 at 2:27 PM Andrea Volz <notifications@github.com> wrote:

[2020-07-09 21:58] waldenan commented on #33
thank you! We need this for all of our presentations.
Anita Walden

On Thu, Jul 9, 2020 at 2:31 PM Andrea Volz <notifications@github.com> wrote:

[2020-07-09 23:04] amvolz commented on #33
Style guides:
CD2H [color palette](https://drive.google.com/drive/u/0/folders/1-DjCq1-rGXpZ-m7OvTM1N71TzHb71IKF)
[NCATS Communications Guidance](https://covid.cd2h.org/Communications_Guidance)
Follow [NIH policy 1186](https://policymanual.nih.gov/1186) for use of NIH names & logos

[2020-07-10 19:51] amvolz commented on #33
IMPORTANT! NEW NCATS GUIDANCE FOR USE OF LOGOS 7/10/2020
WE CANNOT USE THE PALANTIR LOGO

- NCATS will not openly advertise–through logo usage or with promotional language–companies under contractual agreement with NCATS for the N3C, which includes Palantir, MD Clone, MS Azure, Adeptia, ETL, and Datavant.
- N3C is also advised to not advertise, as these companies are under contract with NCATS.
- T

[2020-07-10 22:44] cgcook commented on #32
[slides/notes/diagrams from related meetings](https://docs.google.com/presentation/d/14ZFzZJClSm_F-JLIsuE6vDPuBn6qxMVBvKwy76OR2bM/edit#slide=id.g8b7a7d5912_0_0)

[2020-07-13 20:49] andrewjneumann opened #40 "Develop N3C opening testing plan"
High-level (all training areas):
- [x] Define areas as sheets required for testing
- [x] Define testing tasks for each area
- [x] Testing complete

Specific training area:
**Onboarding/user creation:**
- [x] Define areas as sheets required for testing
- [x] Define testing tasks for each area
- [x] Testing complete

**Palantir:**
- [x] Define areas as sheets required for testing
- [x] Define testin

[2020-07-15 17:33] andrewjneumann opened #41 "testing issues"
test issue

[2020-07-15 17:39] andrewjneumann opened #42 "test title for issue"
test issue descrption

[2020-07-15 17:53] #42 closed

[2020-07-15 17:54] #41 closed

[2020-07-15 18:19] andrewjneumann opened #43 "testing w/ assigned user"
testing w/ assigned user

[2020-07-15 18:20] andrewjneumann opened #44 "testing w/ assigned users!"
more then one assigned //assign all the users :-)

[2020-07-15 18:24] #43 closed

[2020-07-15 18:25] #44 closed

[2020-07-15 18:28] andrewjneumann opened #45 "testing user comments"
@andrewjneumann do you get this mention?

[2020-07-15 18:28] #45 closed

[2020-07-15 18:28] andrewjneumann opened #46 "testing user comments"
@andrewjneumann do you get this mention?

[2020-07-15 18:29] andrewjneumann opened #47 "testing user comments"
@andrewjneumann do you get this mention?

[2020-07-15 18:32] cgcook commented on #47
Yep, receiving these notices/mentions.

From: Andrew Neumann <notifications@github.com>
Reply-To: National-COVID-Cohort-Collaborative/operations <reply@reply.github.com>
Date: Wednesday, July 15, 2020 at 11:29 AM
To: National-COVID-Cohort-Collaborative/operations <operations@noreply.github.com>
Cc: Connor <cook.cd2h@gmail.com>, Assign <assign@noreply.github.com>
Subject: [National-COVID-Cohort-Col

[2020-07-15 20:09] #47 closed

[2020-07-15 20:09] #46 closed

[2020-07-15 20:57] N3Cbot opened #48 "testing n3c-bot"
test

[2020-07-15 23:44] #48 closed

[2020-07-15 23:52] N3Cbot opened #49 "testing- test issue w/ bot via N3C account process"
testing

[2020-07-15 23:52] #49 closed

[2020-07-16 16:46] andrewjneumann opened #50 "N3C end-to-end training plan"
Trying to capture this here:

- [x] Identify training needs outside of Palantir
- [x] Identify supplemental training needs based on Palantir existing documentation/training
- [x] Documentation/training for onboarding process
- [x] Documentation/training DUR/DUA process
- [ ] Other needs

[2020-07-16 16:47] andrewjneumann commented on #50
@cgcook @waldenan @mellybelly cc FYI

[2020-07-16 16:58] andrewjneumann commented on #50
FYI  @National-COVID-Cohort-Collaborative/operations

[2020-07-16 18:22] andrewjneumann commented on #50
N3C slack channel: https://cd2h.slack.com/archives/C0177PAJDH8

[2020-07-16 19:57] waldenan commented on #50
@oneilsh
Not sure if you have seen this.

Here is what is in the supplement for the IDeA States.

Collaborative Analytics: Engaging IDeA-CTR member to maximize their investment

Training
The N3C Enclave is a secure analytics portal within the NCATS Cloud. IDeA States researchers wishing to study and analyze N3C data will conduct all research within the environment; no data egress will be permitted

[2020-07-16 22:51] #21 closed

[2020-07-17 17:35] amvolz commented on #30
All preliminary changes made by NCATS have been accepted. 13 FAQs have been approved and posted to the N3C website. A reminder was sent today to the NCATS Communications team that there are 22 FAQs that still need approval. Would be great to have more posted to either the N3C or NCATS websites before the soft launch so users will have readily available resources. Some FAQs need NCATS regulatory ap

[2020-07-20 19:00] cgcook commented on #33
New metrics to include in [slide template](https://docs.google.com/presentation/d/1sLtzxOU_MZ9quVfYYScrJZ8qHFobWHU3-P58sC4tv50/edit#slide=id.g8af2ceb09b_0_1037):

- CTSA Organizations participating in N3C
- Number of Organizations with participants in N3C
- N3C Individual Members

Need to operationalize "CTSA Orgs participating" to pull metric.

@waldenan @jmcmurry

[2020-07-24 05:39] cgcook opened #51 "Tasks re: 7.22 N3C Enclave User Account walk-through"
**TASKS**

1. **Onboarding  Form** @cgcook @eichmann
- [ ] Make modifications to registration form, direct user to N3C website to join groups [[details](https://docs.google.com/presentation/d/14ZFzZJClSm_F-JLIsuE6vDPuBn6qxMVBvKwy76OR2bM/edit#slide=id.g8c98107609_5_12)]
- [ ] Dropdown of Clinical specialties and roles
- [ ] Slack email instead of slack ID

2.  **N3C Account transfer** @eichmann
- [

[2020-07-28 17:04] andrewjneumann commented on #40
issue form: https://docs.google.com/document/d/1Ee1HoWuJC3RYk6ZYAykO_mnQXsUdOLRGMgcnhx04UfE/edit

[2020-07-30 16:48] andrewjneumann commented on #40
Unable to test 'manual process' points (addressing today) and DUR process.

[2020-07-30 16:48] #40 closed

[2020-07-30 21:24] waldenan opened #52 "Enclave Account Creation Letter Text - Due Aug 31"
The **Welcome to the N3C Enclave** account creation email is needed for the test Monday. @andrewjneumann is assigned to take the language provided modify it.

@andrea will you review it and attach it to the Github so we can share it with NCATS to implement it in time for the test Monday morning.

[2020-07-30 22:27] waldenan opened #53 "Enclave Collaborator Invitation Email - Due 31July"
Those who are invited as collaborators on a N3C project will be sent a system generated invitation email. Some will have an existing email and some will need an account.
Will you review the draft email make revisions by COB on Friday so we can test it on Monday.

Here is a link to the email draft

[Draft Collaborator Invitation Email](https://docs.google.com/document/d/1RAZcwYKfQLTdlFEVlj7RlCtDO0o

[2020-07-30 22:34] cgcook opened #54 "[registration] Enclave access need to be a little more prominent on the registration page, maybe positioning: minor"
Enclave access need to be a little more prominent on the registration page, maybe positioning [minor]

[2020-07-30 22:35] cgcook opened #55 "[registration] Accepts any ORCID Id: major"
Accepts any ORCID Id - major

[2020-07-30 22:36] andrewjneumann commented on #52
@amvolz has access and made edits

[2020-07-30 22:37] cgcook opened #56 "[registration] Didn’t have Anita’s ORCID ID populated: major"
Didn’t have Anita’s ORCID ID populated [major]

[2020-07-30 22:39] cgcook opened #57 "Onboarding Data Workflow Testing [7/30]: issues to resolve"
**Registration:**
- [x] Enclave access need to be a little more prominent on the registration page maybe positioning - minor
- [x] Accepts any ORCID Id - major
- [x] Didn’t have Anita’s ORCID ID populated- major
- [x] Not a clear way to get back to the registration page after clicking on ORCID link- major
- [x] When going back to registration page it didn’t save the registration information- major

[2020-07-30 22:49] cgcook opened #58 "[registration] Not a clear way to get back to the registration page after clicking on ORCID link: major"

[2020-07-30 22:55] amvolz commented on #52
@waldenan I've made some edits with what I know as of yesterday. I do have a couple of questions that need to be addressed. https://docs.google.com/document/d/1kkCDOb-3fmxYXEd0yLSD98evuTSpzQvVvU8UPnYELSE/edit

[2020-07-30 22:57] cgcook opened #59 "[registration] When going back to registration page it didn’t save the registration information: major"

[2020-07-31 00:09] cgcook commented on #57
[related issue](https://github.com/National-COVID-Cohort-Collaborative/operations/issues/51#issue-664929665)

[2020-07-31 00:09] cgcook commented on #51
linked in [this issue](https://github.com/National-COVID-Cohort-Collaborative/operations/issues/57)

[2020-07-31 00:09] #51 closed

[2020-07-31 00:10] amvolz commented on #53
Here is the edited Collaborator email.
https://docs.google.com/document/d/1RAZcwYKfQLTdlFEVlj7RlCtDO0oyGzinqIKdwNHJJ7k/edit

[2020-07-31 00:33] #53 closed

[2020-07-31 00:35] waldenan commented on #52
Andrea even though the message is different will you make the Account Creation and Collaborator email look similar in format and branding. Thanks

[2020-07-31 01:13] cgcook opened #60 "[collaborator] need a message to copy link and place in separate email: minor"
Links in email need to be hyper and clickable

[2020-07-31 01:14] cgcook opened #61 "[collaborator] There is not a way for someone who wants to join a project to find it and review it before submitting a DUR: major"
If invited to a project, there is no way to identify (view project) if they would like to join project prior to submitting DUR.

[2020-07-31 01:15] cgcook opened #62 "[collaborator] The attestation for CoC and DUA flow need enhancement: major"

[2020-07-31 01:15] cgcook opened #63 "[collaborator] No way to know how a user gets approved for a project they are joining: major"

[2020-07-31 01:16] cgcook opened #64 "[collaborator] Collaborator was allowed to access enclave without registration: Catastrophic"
When invited to a project, the invite link sent brings invitee directly into enclave w/o requiring registration process.

[2020-07-31 01:16] cgcook opened #65 "[Enclave] New Home page- difficult to read text...didn’t adjust: minor"
Text/elements on homepages didn't correctly dynamically adjust (CSS?).

[2020-07-31 01:17] cgcook opened #66 "[DUR] Not closure or next steps after completing DUR: Major"
When DUR submission is completed there is no indication of the next steps on the screen.

Auto-generated email also needs to be setup.

[2020-07-31 01:17] cgcook opened #67 "[DUR] Not sure of what to do once you gain access to Enclave: Catastrophic"
Workflow/next steps "bread crumbs", not immediately clear when entering enclave--> perhaps home page?

[2020-07-31 01:18] cgcook opened #68 "[2FA login] Not clear on when to use Duo vs other authentication app: Catastrophic"
I think this was for enclave... we also encountered with login.gov process. Login.gov seemed to support all major 2FA processes... enclave process was not clear.

[2020-07-31 01:22] cgcook opened #69 "[collaborator] The attestation for CoC and DUA flow need enhancement- major"

[2020-07-31 01:22] ychae commented on #65
The errors that @waldenan was seeing have been resolved. However, we're still seeing some text overlap on some of the pages that resolve once you refresh the page.

Is this error still considered catastrophic?

[2020-07-31 01:25] eichmann commented on #56
Case-insensitive name matching now in place and cleaned up trailing spaces in the name components of the ORCiD public data.

[2020-07-31 01:25] #56 closed

[2020-07-31 01:28] eichmann commented on #58
The link to the ORCiD site now opens a new window. Closing that one leaves you with the original, including all existing responses in form.

[2020-07-31 01:28] #58 closed

[2020-07-31 01:28] eichmann commented on #59
The link to the ORCiD site now opens a new window. Closing that one leaves you with the original, including all existing responses in form.

[2020-07-31 01:28] #59 closed

[2020-07-31 01:32] waldenan commented on #65
No it isn't I would suggest downgrading it to Minor and we should focus on higher priority items and revisit this later. Thank you for working on it. :-)

[2020-07-31 01:52] eichmann commented on #54
@alexisgraves Let's create a CSS twist that accentuates the two checkboxes, enclave and workstream.

[2020-07-31 01:55] eichmann commented on #55
If the name match fails, how are we to distinguish a valid mapping to someone's name variant from an intentional mismatch?

[2020-07-31 13:41] andrewjneumann commented on #55
It might be easier to validate submitted ORCIDs in the background and address dups or mismatches as they happen? Perhaps we just validate the proper format of entered ORCID.

[2020-07-31 15:17] eichmann commented on #55
I think all we can do at submission time is validate the syntax. If a user creates an id on the fly, we've no guarantee that we can see it in search results. Names are not necessarily going to match due to name changes, etc.

[2020-07-31 15:24] eichmann commented on #64
The check for this is necessarily at either UNA or Foundry. I suspect that the tester got as far as they did because their account had been manually whitelisted in UNA for purposes of the test session.

[2020-07-31 16:22] ychae commented on #67
@andrewjneumann @cgcook would you be able to provide a bit more clarity on what this ticket is asking? I'm trying to work out what behavior we want to nudge the users to -- am I correct in assuming that we want the users to go straight to the DUR if it's the first time they land on the Data Enclave homepage?

[2020-07-31 16:40] amvolz commented on #52
The 2 email documents have now been matched for format and branding.
[Welcome Collaborator Email](https://docs.google.com/document/d/1RAZcwYKfQLTdlFEVlj7RlCtDO0oyGzinqIKdwNHJJ7k/edit)
[Enclave Account Creation Email](https://docs.google.com/document/d/1kkCDOb-3fmxYXEd0yLSD98evuTSpzQvVvU8UPnYELSE/edit)

[2020-07-31 18:41] waldenan commented on #52
Thank you so very much!!!

[2020-07-31 18:41] #52 closed

[2020-08-03 13:57] eichmann commented on #55
The form now accepts only valid ORCiD ID patterns - 0000-0000-0000-0000

[2020-08-03 13:57] #55 closed

[2020-08-03 13:59] eichmann commented on #54
Checkbox labels have been restyled to make them more prominent.

[2020-08-03 13:59] #54 closed

[2020-08-03 18:21] cgcook opened #70 "We should consider reframing “Non confidential disclosure text” to “Public abstract” with descriptive text along the lines of “To minimize redundancy and facilitate collaborations, all project descriptions will be publicly accessible together with the named collaborators”"
[From 8/3 user testing](https://docs.google.com/presentation/d/14ZFzZJClSm_F-JLIsuE6vDPuBn6qxMVBvKwy76OR2bM/edit#slide=id.g8d4af254cd_31_0)

[2020-08-03 18:22] cgcook opened #71 "DUR form - accessing institution not pre-populated; NIH not in list."
[from 8/ user testing](https://docs.google.com/presentation/d/14ZFzZJClSm_F-JLIsuE6vDPuBn6qxMVBvKwy76OR2bM/edit#slide=id.g8d4af254cd_31_0)

[2020-08-03 18:23] cgcook opened #72 "“Send email to collaborators” link not connected [DUR] form"
[From 8/3 walk thru](https://docs.google.com/presentation/d/14ZFzZJClSm_F-JLIsuE6vDPuBn6qxMVBvKwy76OR2bM/edit#slide=id.g8d4af254cd_31_0)

[2020-08-03 18:24] cgcook commented on #72
Ideally, the same email should be sent to all collaborators at once, and the text of the abstract should be part of the text.

[2020-08-03 18:24] cgcook opened #73 "Option for collaborator to decline (low priority) [DUR form]"

[2020-08-03 18:26] cgcook opened #74 "DUR form required user to agree to DUA [although institution has DUA]"
[From 8/3 user testing {user = Anita here}](https://docs.google.com/presentation/d/14ZFzZJClSm_F-JLIsuE6vDPuBn6qxMVBvKwy76OR2bM/edit#slide=id.g8d4af254cd_31_4)

[2020-08-03 18:26] cgcook opened #75 "General feedback: more contextualization needed in transition points."
Transition points are not clear, need bread crumbs.

[2020-08-03 18:28] cgcook opened #76 "CGP and Pub policy - include for users to read - need to determine where to place"
[from user testing 8/3](https://docs.google.com/presentation/d/14ZFzZJClSm_F-JLIsuE6vDPuBn6qxMVBvKwy76OR2bM/edit#slide=id.g8d4af254cd_31_4)

[2020-08-03 18:29] cgcook opened #77 "Need to draft email for users who won’t have a DUA"
[From 8/3 testing](https://docs.google.com/presentation/d/14ZFzZJClSm_F-JLIsuE6vDPuBn6qxMVBvKwy76OR2bM/edit#slide=id.g8d4af254cd_31_4)

[2020-08-03 18:41] cgcook commented on #71
Usman had an existing account.

Users who pre-exist in the Enclave environment --> need to clean up.

[2020-08-03 18:47] waldenan commented on #72
The system will send the email directly to collaborators. This will be attempted for launch.

[2020-08-03 18:53] jmcmurry opened #78 "Prepopulate info from existing onboarding doc"
Name / primary email and affiliation will come from UNA

Please prepopulate from existing onboarding form info if it was previously provided:

- Google "G Suite enabled email"
- Slack email
- Github handle
- ORCID iD
- Assistant email
- Role/Expertise
- LinkedIn Profile
- Clinicians: Therapeutic area of focus
- Twitter handle
- Email aliases
- Name

[2020-08-03 18:53] cgcook commented on #57
closing this ticket; all open items linked in [project board](https://github.com/orgs/National-COVID-Cohort-Collaborative/projects/4)

[2020-08-03 18:53] #57 closed

[2020-08-03 22:52] amvolz commented on #37
Edits were incorporated and Zenodo page was updated on June 29th by Sara Gonzales. I believe this issue can be closed.

[2020-08-04 01:01] cgcook opened #79 "Incorporate enclave homepage -needs to happen this week before launch"

[2020-08-04 01:02] cgcook opened #80 "Incorporate the new login page -needs to happen this week before launch"

[2020-08-04 01:02] cgcook opened #81 "Log out is not clear on Enclave landing page- major"

[2020-08-04 01:03] cgcook opened #82 "Accessing institution is not repopulated for NIH even though they have an account- major"

[2020-08-04 01:04] cgcook opened #83 "Enclave: Can’t see the list of organizations…too big for screen- page is not responsive- major for launch but needs to be addressed quickly."

[2020-08-04 01:04] cgcook opened #84 "Clarify wording on DUR Project Plan - change to "rationale" - major"
Julie will provide updated text.

[2020-08-04 01:05] cgcook opened #85 "Can we shorten the Name boxes? minor- Low priority"

[2020-08-04 01:05] cgcook opened #86 "Need a next steps after sending collaborators email…what to do next-major"

[2020-08-04 01:06] cgcook opened #87 "The email link open up Gmail not Outlook as a default-major...people may not want to use the existing email.major"

[2020-08-04 01:06] cgcook opened #88 "After submitting the Collaborator DUR, wasn’t able to navigate away from the page easily. The submitted box remained on the screen- major"

[2020-08-04 01:06] cgcook opened #89 "Text for providing next steps for DAC…timeline for DAC review and completion-Catastrophic"

[2020-08-04 01:07] cgcook opened #90 "Title and public abstract of project should be in the email collaborator template- major"

[2020-08-04 01:07] cgcook opened #91 "Upon Registration, need a mechanism for notifying people when their DUA is not executed -major"
revisions needed to draft.

[2020-08-05 00:57] waldenan commented on #77
There are several messages regarding a non linkage of a user to an organization or DUA. The draft messages are located at this link.[messages](https://docs.google.com/document/d/10lrRF5Ca44_Y5Vh-Jw0Cq8BM0XWiJU31u7zI21Iu6Fg/edit)

[2020-08-05 16:26] andrewjneumann opened #92 "test"
test issue

[2020-08-05 17:39] cgcook commented on #92
Done and done.

[2020-08-05 17:39] #92 closed

[2020-08-07 18:07] #79 closed

[2020-08-07 18:11] #82 closed

[2020-08-07 18:11] manna-tmp commented on #79
I can claim this

[2020-08-07 18:16] #83 closed

[2020-08-07 18:17] amin-manna commented on #81
@cgcook you can assign this to me

[2020-08-07 18:34] #86 closed

[2020-08-07 18:35] #87 closed

[2020-08-07 18:38] #89 closed

[2020-08-07 18:38] jmcmurry commented on #84
As my part of this is complete, I will un-assign myself :)

![image](https://user-images.githubusercontent.com/3658863/89677572-896ac980-d8a2-11ea-8deb-9844ac28291b.png)

[2020-08-07 18:46] cgcook commented on #81
thanks @manna-tmp

[2020-08-07 18:53] oneilsh commented on #81
Maybe a "Logout" link to the right of "Terms & Conditions" in the top menu?

[2020-08-07 19:33] oneilsh commented on #67
I think we can close this one, see screenshot of "step 1, step 2" in the homepage copy gdoc

[2020-08-07 19:49] oneilsh commented on #65
@cgcook @andrewjneumann any objection to adding tags to distinguish issues related to enclave-homepage, dur form, etc?

[2020-08-07 19:56] cgcook commented on #65
@oneilsh no objections to adding additional labels.

[2020-08-07 20:11] cgcook commented on #67
@oneilsh great; pls you add the link to the gdoc for reference, and then close the issue. Thanks!

[2020-08-07 21:53] eichmann opened #93 "Refine registration result email text"
https://docs.google.com/document/d/10lrRF5Ca44_Y5Vh-Jw0Cq8BM0XWiJU31u7zI21Iu6Fg/edit

[2020-08-12 02:36] cgcook opened #94 "On N3C Website - Returning User Link needs to be updated on Website to take people to the right Unite link - Catastrophic"

[2020-08-12 02:37] cgcook opened #95 "Lead Investigators Need to be able to see a pending DAC request - Major"
place on enclave homepage

[2020-08-12 02:38] cgcook opened #96 "Lead Investigators Need to be able to add Collaborators to existing projects - Enhancement down the road."

[2020-08-13 18:58] #88 closed

[2020-08-13 18:58] #85 closed

[2020-08-13 19:01] amvolz commented on #94
Per Anita, this is the current [UNITE link](https://auth.ncats.nih.gov/_api/v2/auth/login?redirect_uri=https%3A%2F%2Fauth.ncats.nih.gov%2F_api%2Fv2%2Fauth%2Fpalantir%2Fpalantir_unite%2Fsaml&client=palantir_unite&tenant=palantir&protocol=saml):

[2020-08-13 19:06] alexisgraves commented on #94
The link on the returning user button has been changed to the one provided by @amvolz above.

[2020-08-13 20:45] ychae commented on #95
@deacyma how is this currently tracked?

[2020-08-13 23:19] ychae commented on #67
Here's the link to the [Google Doc](https://docs.google.com/document/d/12fHOaq19mruBetynVpI6_GqgUC1Omgz4xQb8iZsO2WI/edit?ts=5f219edf#heading=h.a88l0sgfqssw) for reference.

[2020-08-13 23:19] #67 closed

[2020-08-13 23:33] ychae commented on #65
Downgraded to minor as the most problematic issue has been resolved. Keeping open to make sure we address the lesser issue of the text not being reactive when going from a very large window to a small window (and vice versa) without having to refresh the page.

To repro:
1. Go to enclave homepage (I used Chrome Version 84.0.4147.105 (Official Build) (64-bit))
2. Make the window large, text will te

[2020-08-17 22:18] oneilsh opened #97 "DUR button more noticeable?"
Comment from testing team - some users didn't find the DUR form button. Move higher in page? Other ideas?

[2020-08-17 22:25] oneilsh opened #98 "Checklist for getting started"
Idea: use same text within enclave as external (adding finished checks for inside enclave)

[2020-08-17 22:30] oneilsh opened #99 "Help users get things in line for DUR"
Since some of the pre-reqs for filling out the DUR should be completed before starting, should we warn or otherwise help users get those in place before navigating them to the DUR? (Idea: 3 or 4 checkboxes that could be clicked to make the DUR link clickable).

[2020-08-17 22:32] oneilsh commented on #81
Logout link added in main menu, pushed to prod :)

[2020-08-17 22:32] #81 closed

[2020-08-17 22:34] N3Cbot opened #100 "test"
test

[2020-08-17 22:41] oneilsh commented on #100
A wild bot appears!

[2020-08-18 23:36] #100 closed

[2020-08-19 00:03] cgcook opened #101 "Edits needed re: Enclave registration form"

[2020-08-19 00:10] cgcook commented on #101
Hi @eichmann pls see [here](https://docs.google.com/presentation/d/14ZFzZJClSm_F-JLIsuE6vDPuBn6qxMVBvKwy76OR2bM/edit#slide=id.g916d37c41e_0_0) for edits/clarifications needed on the current N3C registration form.  Thx.

[2020-08-20 01:21] waldenan opened #102 "DUR training message."
The statement on the DUR says that 1 or more training is required but it seems that both trainings are required even for a Citizen Scientist.

[2020-08-20 01:27] waldenan opened #103 "DUR - add "IRB""
People do not know what HRPP is?  Can we add "IRB Determination Letter" be added if it is the same thing?

[2020-08-20 01:32] waldenan opened #104 "NIH not in DUR list of organizations"
NIH and Arizona not in DUR list of organizations

[2020-08-20 01:34] waldenan opened #105 "N3C Registration form"
On the N3C Registration form it states that the User's account doesn't match...it looks like it is on all registration forms. What is the reason why it is showing up on all registration forms as text under the organization field?

[2020-08-20 01:42] waldenan opened #106 "Need a next steps message when registration is completed"
When people complete their N3C Registration form they want something on the screen to indicate next steps. We need a written message that states... Thank you for registration, you will receive an email with instructions within the next 24-72hrs for creating your N3C Data Enclave Account.
they are receiving an email but many don't realize it. Closure is needed on the actual screen once they submit.

[2020-08-20 01:44] waldenan opened #107 "Check the Organization name text for UTMB"
Heidi Spratt said that the text for her Organization name looks odd in the Registration form and DUR form. Can someone double check the text.

[2020-08-20 01:48] waldenan opened #108 "Not expecting to see Gmail account"
A couple of people have mentioned that the CD2H gmail looks suspicious to some users. They said it doesn't look official and do not expect a CTSA or NIH organization to have a gmail account registered on documents or in emails.    This has been a issue identified at other organizations which caused emails to be deleted and important messages overlooked.

[2020-08-20 01:50] waldenan opened #109 "Add N3C to covid website url link"
A couple of people asked if N3C should be in the url link. Can this be done without a lot problems.  N3C.CD2H,edu?

[2020-08-20 01:52] waldenan opened #110 "Example DUR"
A user said it would be helpful to see a DUR completed especially the information needed by the DAC for a description of a project. They are not sure exactly what they want to see. What types of tools.

[2020-08-20 14:01] waldenan opened #111 "DUR- Need clarification about collaborators"
When a PI is submitting a project it is not clear what is meant by "Allow other researchers to join the project". They want to know if it is required to add a collaborator if they indicate "Allow"

[2020-08-20 17:10] amvolz commented on #106
Screen message has been created: https://docs.google.com/document/d/1jk8TEzws1PIGWB_fzZvPyYBCqsykxxMe1XFuU5Zqa3o/edit

[2020-08-20 17:37] amvolz opened #112 "N3C Welcome Partnership Packet Needs Updating and Repackaging"
The Welcome Partnerhip Packet was created several months ago to get us started and now has outdated information. It lives on the homepage of the N3C website and is being accessed daily.

These items specifically need to be addressed ASAP:
1. Packet Cover Letter  (We can use the newer N3C Welcome Letter in its place.)
2. N3C Contacts & Workstreams - we have new information to add
3. N3C Governance

[2020-08-20 17:45] amvolz commented on #103
An IRB is set up as part of a Human Research Protection Program (HRPP) to protect human subjects, per regulation. So it is technically the Human Research Protection Program (HRPP)'s IRB Determination Letter. (But that's a mouthful.)

[2020-08-20 17:47] amvolz commented on #102
✔ Completion of Standard NIH IT Security Training (Each individual data user must complete the first listed course that contains 4 modules; allow 60-90 minutes.)
✔ Completion date of Human Subjects Research Protection training (within the last 3 years), if you intend to access the de-identified or limited datasets. (Not needed to access the synthetic dataset.) CITI Program and NIH courses are most

[2020-08-20 17:49] amvolz commented on #98
Checklist is now live on N3C website: https://covid.cd2h.org/Enclave_Registration_Checklist

[2020-08-20 18:07] amvolz commented on #90
@cgcook Can you please provide link so I can access this?

[2020-08-20 18:15] amvolz commented on #93
Has been edited here: https://docs.google.com/document/d/10lrRF5Ca44_Y5Vh-Jw0Cq8BM0XWiJU31u7zI21Iu6Fg/edit
Please let me know if something more is needed.

[2020-08-20 19:10] oneilsh commented on #99
Duplicate of #89

[2020-08-20 19:29] waldenan opened #113 "List of N3C Enclave Tools and Resources on Webpage"
User asked for list of tools to complete the Research Rationale.

Work with Andrew Willians and Chunlei to come up with a list of tools that can be displayed on the Research Resources webpages.  Use the CD2H Tool database format?

[2020-08-20 19:42] oneilsh opened #114 ""My Projects" in landing page"
just title and status, ideally with direct link/button to projects if created

[2020-08-20 19:43] oneilsh opened #115 "Explore/Join projects dashboard"
Embed or link to from enclave homepage somewhere?

[2020-08-20 19:46] oneilsh opened #116 "Support & contact page"
Needs some guidance to help users determine where/how best to ask for help. (Warren suggested a button that opens an internal ticket directly)

[2020-08-20 19:49] oneilsh opened #117 "Data release notes"
Need to update the links to data release notes - ideally we could figure out a workflow that didn't involve manually editing the staging page and pushing to production

[2020-08-20 21:28] deacyma commented on #84
![#84](https://user-images.githubusercontent.com/22172108/90827646-92c84d00-e30a-11ea-9f0c-d8cce8a6fcff.JPG)

[2020-08-20 21:40] deacyma commented on #104
@waldenan could you please clarify in what organization list the NIH the user did not see the NIH?

[2020-08-21 00:17] waldenan commented on #104
Mariam, I think there is only one field on the DUR that ask for Organization name. The one they were completing was labled: "Accessing Institution"

[2020-08-21 00:26] amvolz commented on #90
Information has been added. https://docs.google.com/document/d/1RAZcwYKfQLTdlFEVlj7RlCtDO0oyGzinqIKdwNHJJ7k/edit

[2020-08-21 12:55] deacyma commented on #104
@waldenan the "Accessing Institution" field should get auto populated from the users login information.

[2020-08-21 14:12] waldenan commented on #104
I agree. When users were in the field they could see a list of organizations but NIH wasn't on that list.

[2020-08-21 15:30] eichmann commented on #109
Trying to change domain names at this point could incur serious link breakage at a critical stage for the project. We need to hold on this until more consideration can be given to the implications.

[2020-08-21 15:33] waldenan commented on #109
OK We will keep this as a parking lot issue to revisit. Thank you.

[2020-08-21 15:57] eichmann commented on #108
If we don't use gmail, my only other option is our institutional mail servers, which enforce the sender being me.  I tried specifying an override and my institutional server rejected the message. As it is, gmail overrides the sender email with the actual account address, but leaves the sender name as specified. I asked NCATS about options, but they don't support outboard email services.

Our domai

[2020-08-21 16:00] eichmann commented on #107
How is "University of Texas Medical Branch At Galveston" odd?  Granted, the DTA/DUA spreadsheet entry is funky...

[2020-08-21 16:47] cgcook commented on #90
@amvolz sry for delay, I think you have [this doc](https://docs.google.com/document/d/1RAZcwYKfQLTdlFEVlj7RlCtDO0oyGzinqIKdwNHJJ7k/edit) now.

[2020-08-21 17:48] amvolz commented on #90
@cgcook Yep; I have done the work and included the link above.

[2020-08-21 18:11] cgcook commented on #4
[Partnership Welcome packet ](https://covid.cd2h.org/partnership_welcome_packet) is live, fulfills this request; closing ticket.

[2020-08-21 18:50] cgcook commented on #33
The '[key stats' slide](https://docs.google.com/presentation/d/1sLtzxOU_MZ9quVfYYScrJZ8qHFobWHU3-P58sC4tv50/edit#slide=id.g8af2ceb09b_0_1037) is wired up.

There are several templates in the deck now.

Closing ticket; pls re-open if needed.

[2020-08-21 19:06] cgcook commented on #15
current action item tracking:

Workstreams: in notes doc
Ops: in GitHub
Enclave Support Desk: in GitHub

closing ticket; pls re-open if needed.

[2020-08-21 19:29] cgcook commented on #30
FAQs published:

[N3C](https://covid.cd2h.org/FAQs)
[NCATS](https://ncats.nih.gov/n3c/about/program-faq)

closing ticket.

[2020-08-21 19:38] cgcook commented on #38
This ticket appears to be resolved, [Hub packet cover letter is live](https://covid.cd2h.org/partnership_welcome_packet/chapter_1)

closing ticket; pls re-open if needed.

[2020-08-21 19:58] cgcook commented on #34
This ticket appears to be done; closing.

[2020-08-24 19:43] waldenan opened #118 "DUR- Project Rationale: Add to the instructions Project has to be COVID Research"
Project Rationale: Add to the instructions Project "Indicate how the research project question is COVID Research related" ...or something similar to this text.

Per Melissa and Anita during the PM mtg. 24Aug

[2020-08-24 19:45] waldenan opened #119 "DUR- Project Rationale: Remove Tools from the Instructions list of requirements by the DAC"
- [x]  Project Rationale: Remove the text about the "Tools" from the Instructions list of requirements by the DAC.

- [x] Update Account Creation Checklist on website and FAQs- Andrea

Per Ken 24August - Project Stand up

[2020-08-24 20:53] amvolz commented on #119
@waldenan Can you clarify your instructions? There is no mention of tools on the checklist. Are you trying to say that you want the sentence about software deleted?

[2020-08-24 21:31] waldenan opened #120 "DUAs Executed!"
For the organizations that have a DUA signed we do not want to show the contact names on the website at this time.  Will you remove the names.

Those who **d**on't**** have a DUA they want to know the contacts so they can follow up on the status.

https://covid.cd2h.org/enclave_DUA_signatories

[2020-08-24 22:02] mellybelly opened #121 "strategy for task team literature collection"
A lot of the task teams are collecting literature, we need a strategy for facilitating their sharing and inventorying across N3C. @jmcmurry @andrewjneumann perhaps you can come up with something? Paperpile collection?

[2020-08-25 03:40] waldenan commented on #119
This is the sentence that should be removed....  Software expected to be used in the N3C Data Enclave during the course of the research project. (As stated in the DUA, all software must be approved in writing by N3C prior to being uploaded.) @KenGersing will you confirm.

[2020-08-25 17:39] cgcook commented on #32
new registration form is live; closing this ticket.

[2020-08-25 17:39] #32 closed

[2020-08-25 19:17] waldenan opened #122 "Links to Publication Policy and Community Principles"
Here is the link to the Publication Principles https://zenodo.org/record/4000322#.X0VOitNKj6A

Please add to DUR CoC

Here is the link to the Community Guiding Principles. Please add to DUR Coc
10.5281/zenodo.3978729

[2020-08-25 22:03] amvolz commented on #119
Thank you for clarifying. It has been deleted from the website checklist, and the checklist on the FAQ Google doc that is still under NCATS review.

[2020-08-25 22:08] amvolz commented on #118
@waldenan Please provide clarification on what exactly you would like done. It is not clear what the "Instructions Project" refers to or where it is located.

[2020-08-25 23:48] amvolz commented on #118
@waldenan After reading a few more times, I see you mean to add the statement: "Project has to be COVID research" to a list of instructions. Please let me know what instruction list this refers to and where it resides. Thank you!

[2020-08-25 23:56] amvolz commented on #91
@cgcook I believe this was created on [this document under Variation 2](https://docs.google.com/document/d/10lrRF5Ca44_Y5Vh-Jw0Cq8BM0XWiJU31u7zI21Iu6Fg/edit). Let me know if more is needed.

[2020-08-25 23:59] amvolz commented on #77
Agree with Anita. There are several email messages created on this [N3C Data Enclave Screen Message document.](https://docs.google.com/document/d/10lrRF5Ca44_Y5Vh-Jw0Cq8BM0XWiJU31u7zI21Iu6Fg/edit). Please let me know if more is needed.

[2020-08-26 00:16] amvolz commented on #118
@waldenan After more investigation, I think you might mean [this document](https://docs.google.com/document/d/1xKS6BURQHGfnstgVJSuYZzDBws4PuIyyz1QDnc-8hjI/edit)?

[2020-08-26 00:43] waldenan commented on #118
The instructions for the Project Rationale from the DUR.

- Sufficient information for the Data Access Committee (DAC) to understand the proposed research project and analyses
- Rationale for the requested level of access needed to conduct the proposed work
- A generalized outline of anticipated analysis
- Software expected to be used in the N3C Data Enclave during the course of the research proje

[2020-08-26 05:09] waldenan commented on #107
University of Texas Medical Branch at Galveston, d/b/a UTMB Health (UTMB). Heidi wasn't sure what d/b/a meant in her institution's name.  I am bringing it to your attention because she questioned it.

[2020-08-26 19:56] cgcook commented on #101
@alexisgraves are you able to make [the edits](https://docs.google.com/presentation/d/14ZFzZJClSm_F-JLIsuE6vDPuBn6qxMVBvKwy76OR2bM/edit#slide=id.g916d37c41e_0_0) to the form?

Let me know if you have questions.

[2020-08-26 20:07] alexisgraves commented on #101
@cgcook Yep! :) I've edited the pages accordingly and sent the changes off to @eichmann . I think he is finalizing some of the other components based on additional feedback and planning to go live with the changes soon. There might be some additional review/approval processes that I'm not involved with so I've tagged him just in case.

[2020-08-26 20:12] cgcook commented on #101
Awesome, thanks @alexisgraves.

[2020-08-26 21:32] waldenan opened #123 "Update the Checklist"
People want to know who to send the DUA to. Can we add Ncats Email DUA submission email to Registration checklist.

We may need to expand the checklist to include the DUA process

Let's create a new draft to collect comments and revisions for the next release of the checklist.

[2020-08-26 21:59] waldenan opened #124 "N3C FACT SHEET will be on the Research Resource Area of the Website"
All we need to place the N3C Fact Sheet on the N3C website. For now it is a document but in the future we hope it will come from the Enclave.

https://docs.google.com/document/d/1-hOK6dslNGHHNeJN1GCTiZU9xZI3KCc5QCelJdpak-A/edit

also include in Zenodo.

[2020-08-26 22:46] amvolz commented on #123
@waldenan I have made the requested addition.

FYI: The checklist is still under review with NCATS on the FAQ draft (was never officially approved.) Any changes I make on the website I simultaneously make on the review draft. (The checklists are currently synchronized in both places including new edits made by NCATS.)

One-by-one as FAQs are approved, they are being removed from the FAQ draft and

[2020-08-27 05:52] jmcmurry commented on #121
Easiest is a paperpile collection; however, since not everyone will have a license, we need a way to submit a paper by other mechanism, perhaps via gForm. All we would need is the DOI. Is it just a list you need or some organization too? If so, what are the appropriate 'bins'?

[2020-08-27 19:57] cgcook commented on #101
@eichmann do you have an ETA on the updated registration form going live?  The current language is no longer accurate.

[2020-08-28 20:00] jmcmurry opened #125 "Form validation for GitHub handle, email etc."
People put all kinds of creative things in the GitHub handle field. Usually email (which is useless to us), but sometimes drek like "none". We should be using a regular expression to ensure short alphanumeric fragments without spaces (hyphen and underscore allowed). This [RegEx](https://github.com/shinnn/github-username-regex) may be useful. A URL would also be acceptable.

[2020-08-31 23:40] jmcmurry commented on #125
Likewise GSuite email needs to be a valid email.

[2020-09-01 18:16] eichmann commented on #107
Verified that Heidi was looking at NCATS spreadsheet, not registration site.

[2020-09-01 19:04] cgcook commented on #120
per N3C admin call: [collapse 2 contacts columns to one contact](https://covid.cd2h.org/enclave_DUA_signatories).

[2020-09-01 22:31] cgcook commented on #118
@deacyma - has the updated language been added to the DUR form? Please provide an update on this issue and/or close if resolved.

[2020-09-01 22:33] cgcook commented on #119
@amvolz per your last comment, is this issue resolved?  Please close if so.

[2020-09-01 22:35] cgcook commented on #113
@jaeddy @eichmann please provide an update on this issue.

[2020-09-01 22:37] cgcook commented on #111
@deacyma can you provide an update on this issue?

[2020-09-01 22:39] cgcook commented on #110
@waldenan -- can you clarify this request?  Where would you like the example DUR linked?

@deacyma -- is it possible to create an example DUR?

[2020-09-01 22:42] cgcook commented on #108
Status check: is this still an open issue?

[2020-09-01 22:42] cgcook commented on #107
status check: is this still an open/pending issue?

[2020-09-01 22:44] cgcook commented on #106
@eichmann is this screen message now implemented?  Pls comment/close if so.

[2020-09-01 22:45] cgcook commented on #105
registration form updated; closing ticket.

[2020-09-01 22:45] #105 closed

[2020-09-01 23:00] cgcook commented on #104
status check: is this still an open issue?  @deacyma

[2020-09-01 23:01] cgcook commented on #103
@deacyma -- can you confirm clarifying language has been added to the DUR re: HRPPR / IRB?

[2020-09-01 23:02] #119 closed

[2020-09-01 23:06] cgcook commented on #102
status check: is this still an open ticket?

@deacyma @amvolz

[2020-09-01 23:06] cgcook commented on #101
updated form live.

[2020-09-01 23:06] #101 closed

[2020-09-01 23:07] cgcook commented on #95
status check: is this still an open issue? @deacyma

[2020-09-01 23:08] amvolz commented on #102
This is done.

[2020-09-01 23:08] #102 closed

[2020-09-01 23:08] #80 closed

[2020-09-01 23:09] cgcook commented on #93
status check: is this still an open issue?  @eichmann @amvolz

[2020-09-01 23:10] #90 closed

[2020-09-01 23:34] jmcmurry commented on #121
I propose we have a trusted set of curators and a generic form for anyone (license or no) to add a suggestion.

OK Paperpile collection (currently blank) is now at http://bit.ly/n3c-paperpile-collection
Form to submit something new to paperpile collection is here: http://bit.ly/n3c-paperpile-submission

@mellybelly please advise.

[2020-09-01 23:45] amvolz commented on #93
I believe it is done. @eichmann agree?

[2020-09-02 15:33] eichmann commented on #120
Page now displays institution, contact name and execution date, as per yesterday's discussion.

[2020-09-02 15:33] #120 closed

[2020-09-02 15:34] eichmann commented on #107
Nope.

[2020-09-02 15:34] #107 closed

[2020-09-02 16:01] eichmann commented on #106
Done.

[2020-09-02 16:01] #106 closed

[2020-09-02 16:05] eichmann commented on #93
Done.

[2020-09-02 16:05] #93 closed

[2020-09-02 16:06] eichmann commented on #91
Done.

[2020-09-02 16:06] #91 closed

[2020-09-02 17:29] deacyma commented on #118
The instructions have been updated

[2020-09-02 17:29] #118 closed

[2020-09-02 17:45] #111 closed

[2020-09-02 17:52] waldenan opened #126 "Data Enclave Checklist - link to list of DUAs signed"
[N3C Registration Checklist ](https://covid.cd2h.org/Enclave_Registration_Checklist)

First line:
Confirmation that an executed DUA exists between your organization exists between your organization and NCATS.
Change the link from the PDF DUA to the list of DUAs.

https://covid.cd2h.org/enclave_DUA_signatories

[2020-09-02 18:00] deacyma commented on #95
"My Projects" dashboard has been added to the landing page

[2020-09-02 18:00] #95 closed

[2020-09-02 18:44] #104 closed

[2020-09-02 18:45] #103 closed

[2020-09-02 19:46] cgcook commented on #108
@waldenan per @eichmann's comment above, there is a cost associated with using a non-Gmail address.  Should we explore that option, or keep using data2health@gmail.com?

We have a CD2H@ohsu.edu account that the OHSU admin core can send from; would this be an acceptable alternative?

[2020-09-02 19:48] alexisgraves commented on #126
The link has been updated to point to the DUA Signatory List :)

[2020-09-02 20:13] amvolz commented on #126
@alexisgraves Not sure what happened. The Checklist was still pointing to the PDF just now, so. I just changed it to the DUA Signatory List.

[2020-09-02 20:37] eichmann commented on #108
I've come up with an alternative solution (no cost) that I just need to work on. The application containers on the server need to be able to send these messages.  We don't want to necessitate human intervention.

[2020-09-02 20:37] eichmann commented on #108
Sorry - didn't mean to close - hit wrong button!

[2020-09-02 20:42] alexisgraves commented on #126
Sorry, the link was changed but the text was not.

[2020-09-03 01:01] amvolz commented on #126
can close

[2020-09-03 17:14] #122 closed

[2020-09-03 17:14] #61 closed

[2020-09-03 17:15] #60 closed

[2020-09-03 17:17] #66 closed

[2020-09-03 17:19] deacyma commented on #70
The DUR was updated based on Julies suggestions. Please let me know if this ticket is still valid

[2020-09-04 14:19] eichmann commented on #126
Verified working and link to live list.

[2020-09-04 14:19] #126 closed

[2020-09-04 19:37] #70 closed

[2020-09-04 20:26] waldenan opened #127 "Add DUO - Mobile Authenticator Setup for Palantir"
Mobile Authenticator Setup for Palantir - Palantir  Unite Authenticator.
1. Install one of the following Applications on your Mobile
DUO is not listed but is popular in Academic Centers will you add it.

Also will you remove "Palantir" and replace it with "N3C Data Enclave".

We want "N3C Data Enclave" or "N3C Enclave" as the official name instead of Palantir on outward facing communication.

I do

[2020-09-04 23:27] keatsk commented on #127
Hi Anita.  I'm not sure what document you are referring to.  The one I created which is linked to the login page is here:

https://docs.google.com/document/d/1_QQSpABRHgRP5lJMKsE_2eCHdHny84mcspucotY0mus

It does include Duo in the list of authenticator apps and does not mention Palantir (or the N3C Enclave).

[2020-09-04 23:36] waldenan commented on #127
Hi! The screen shot that you have on the documentation shows what I am referring to. The authentication page doesn't have Duo listed. When people land on that screen it shows only 3 options. Also Palantir appears on this screen.
<img width="552" alt="Screen Shot 2020-09-04 at 4 37 36 PM" src="https://user-images.githubusercontent.com/62001577/92291351-1bc7b280-eecd-11ea-84bd-5845efd67c88.png">

[2020-09-05 17:27] keatsk commented on #127
Gotcha. So this is a request to change the mobile authenticator registration page.  We can definitely add Duo to the list.

I was able to change the heading by updating the display name for the application in UNA.  See below:

![image](https://user-images.githubusercontent.com/17165689/92310365-951dde80-ef7b-11ea-8e02-d4d0ada1cc04.png)

[2020-09-09 19:12] amvolz commented on #123
The checklist has been updated with all comments above as well as NCATS comments.

Disregard process stated above for checklist. A new [document dedicated to the CHECKLIST](https://docs.google.com/document/d/197oo1DBNu2bhTXdVvkvErzRcsMWqvdi36TsxVAT0VzM/edit) alone has been created and can be used as new revisions are needed to post to the [Registration Checklist website page](https://covid.cd2h.or

[2020-09-09 19:12] #123 closed

[2020-09-09 22:05] jmcmurry commented on #125
emails need to be a single line (see Amita Gupta)

[2020-09-11 20:10] #94 closed

[2020-09-11 20:12] amvolz commented on #77
@cgcook @andrewjneumann  Is there still a need for this ticket? Did the script above address the problem? If so, please close. Thanks!

[2020-09-23 17:35] waldenan opened #128 "Communications: CLIC and TIN Highlight Domain Teams"
- [ ] Highlight 1-2 Domain Teams on the CLIC and TIN websites each week
- [ ] Can use the same text but also include the project DUR text that is APPROVED by the DAC
- [ ] List the benefits of joining this Domain team, opportunities
- [ ] List the roles needed...Statisticians, Clinicians, ML, nursing... for the domain teams . @andrewjneumann
- [x] Place on the Communication agenda for next week wi

[2020-09-23 18:43] cgcook commented on #127
@keatsk - it appears this issue has been resolved.  Pls re-open if not.

[2020-09-23 18:43] #127 closed

[2020-09-23 18:46] cgcook commented on #68
this issue related to [this issue](https://github.com/National-COVID-Cohort-Collaborative/operations/issues/127); which has been resolved.

[2020-09-23 18:46] #68 closed

[2020-09-23 18:47] waldenan opened #129 "What is the DAC email address. I am getting reports that the email for DAC is bouncing back. This is the email address sent to me: NCATS.N3CDAC@nih.gov"
I am getting reports that the email for DAC is bouncing back. This is the email address sent to me:  NCATS.N3CDAC@nih.gov

I am assuming this is in the DUR process where the email address need to be updated.

[2020-09-23 18:57] cgcook commented on #124
@alexisgraves @amvolz - can you confirm if the linked Fact Sheet is on the web?  I'm not finding it.

@waldenan - pls confirm the linked Fact Sheet should still be uploaded to Zenodo, and I will do so.

[2020-09-23 18:59] deacyma commented on #129
Hi @waldenan

I just sent an email to the email address: NCATSN3CDAC@mail.nih.gov and confirmed that the email was received without bouncing back
![image](https://user-images.githubusercontent.com/22172108/94056719-a9037600-fdac-11ea-87e3-f486fbb6056e.png)

I noticed that there is "." after the NCATS in the email you provided.

[2020-09-23 18:59] #129 closed

[2020-09-23 19:00] cgcook commented on #74
DUR form has been updated; issue resolved.

[2020-09-23 19:00] #74 closed

[2020-09-23 19:04] cgcook commented on #73
DUR form includes field: "allow other researchers to join this project?" [allow/do not allow]

[2020-09-23 19:04] #73 closed

[2020-09-23 19:10] cgcook commented on #65
Hi @ychae and @oneilsh - checking on this issue.  Have the outstanding minor issues been resolved?  Thanks for providing an update or closing the ticket if appropriate.

[2020-09-23 19:15] cgcook commented on #64
@eichmann, @nqureshi, @keatsk do we have any whitelisted testers/initial users who have not completed the new registration process?

[2020-09-23 19:23] amvolz commented on #124
@cgcook It is not currently on the website. It would need to be published in Zenodo first before it can be linked to a place on the website.

[2020-09-23 19:24] cgcook commented on #76
@waldenan  @deacyma should this be included in the DUR form?  it could follow the Code of Conduct on the form.

[2020-09-23 19:26] cgcook commented on #75
Registration form, UNA sign on, and DUR form have all been edited for clarity.  Closing ticket, issues have been addressed.

[2020-09-23 19:26] #75 closed

[2020-09-23 19:30] ychae commented on #65
@cgcook Most of the issues have been resolved as long as people don't try to make the screen very narrow or view it on mobile. @oneilsh should we close this ticket and reopen if we get a bunch of issues filed about it?

[2020-09-23 21:06] cgcook commented on #110
We have the sample DUR form on [this](https://covid.cd2h.org/Enclave_Registration_Checklist) page.  In absence of further details on the request, closing this ticket.

[2020-09-23 21:06] #110 closed

[2020-09-23 21:08] cgcook commented on #113
@eichmann any update on this ticket?

[2020-09-23 21:10] #77 closed

[2020-09-23 22:34] amvolz commented on #128
- Has been placed on the Communications meeting agenda
- Domain name has been changed as above on the website. I will leave unchecked for Andrew to change the name in other places.

[2020-09-25 18:32] cgcook commented on #63
From 9/25 Post DUR Submission Walk-Through:

Collaborator submits DUR to request to join a project; confirmation text on screen: "Data Access Committee will review the request"
The collaborator request is sent to the lead PI on the project for approval to join project
Once lead PI approves collaborators request, DUR is then sent to DAC, and collaborator can see the pending DUR on their dashboard w

[2020-09-25 18:41] cgcook commented on #96
From 9/25 Post DUR Submission Walk-Through: current process allows for collaborators to request to join; this negates the need for the PI to add collaborators.  Closing this ticket/request.

[2020-09-25 18:41] #96 closed

[2020-09-25 18:44] cgcook commented on #65
thanks @ychae; I'm going to suggest we close this ticket and (re)open a new one if needed.

[2020-09-25 18:44] #65 closed

[2020-09-28 21:03] jmcmurry commented on #121
Parking this here for exploration. It is not as feature rich but it is perhaps better than alternative in just this instance? [GSuite rolls its own reference manager.](https://support.google.com/docs/answer/10090962)

[2020-09-29 21:28] jmcmurry commented on #121
@deacyma I need full admin access to all of the literature folders in N3C, eg [these](https://drive.google.com/drive/u/0/search?q=title:literature%20type:folder%20in:0ACAAZGaoNkfUUk9PVA). However, because this list is dynamic it would really be best to have it for the [whole parent drive](https://drive.google.com/drive/u/0/folders/0ACAAZGaoNkfUUk9PVA). Please grant it to mcmurryj ... oregonstate d

[2020-09-29 23:07] jmcmurry opened #130 "Offboarding form needed"
We need a form analogous to the registration form wherein someone can signal they'd like to be:
- Removed from enclave access
- Removed from google groups

The former needs a tight workflow confirming their removal
The latter would generate a self-serve email with links to unsubscribe from all the groups of which we know they're a member.

I don't think we need to be overly concerned with forcibly

[2020-09-30 13:54] deacyma commented on #121
@jmcmurry I have upgraded your access to manager. Could you please let me know if this resolved the issue?

[2020-10-01 20:05] cgcook opened #131 "Develope Examples of correctly leveraging different levels of the N3C data"
A user submitted a [support request (#77)](https://n3c-help.atlassian.net/servicedesk/customer/portal/2/N3CSUPPORT-77) to the N3C Help Desk:

We know at least three levels of data will be provided by N3C: Synthetic Data (Level 1), De-identified Data (Level 2), and Limited Data Set (Level 3). I believe most of us have already heard of and used data in Levels 2 & 3, but Synthetic Data (Level 1) is p

[2020-10-01 20:17] cgcook commented on #131
user request details emailed to ncatsn3cdac@mail.nih.gov 10/1

[2020-10-02 16:59] oneilsh opened #132 "training page mentions "personal file space""
which is no longer true ;)

[2020-10-02 17:01] #116 closed

[2020-10-02 17:02] oneilsh commented on #115
done via the amazing work of Mariam

[2020-10-02 17:02] #115 closed

[2020-10-02 17:02] oneilsh commented on #114
thanks Mariam!

[2020-10-02 17:02] #114 closed

[2020-10-02 17:02] oneilsh commented on #97
fixed via the big blue buttons solution

[2020-10-02 17:02] #97 closed

[2020-10-08 17:20] jmcmurry opened #133 "Harmonize names on the registration form."
- Require user to supply a name if one is not provided by the registration mechanism; several are missing
- Normalize the stored name
    - Trim whitespace (See Lana for an example)
    - Prompt user to check the casing if it is all lowercase or all uppercase (nice to have)

[2020-10-12 21:51] eichmann commented on #64
Yes.

[2020-10-18 23:16] jmcmurry commented on #78
I spoke with @pnrobinson today and he said that none of his legacy info is making its way to the registration form. @eichmann is this expected behavior?

[2020-10-18 23:31] mellybelly commented on #78
a little more info since i was there- he doesn't have inCommon through Jackson lab so used the NIH.gov login. We had to redo the login info for him and as such, he didn't see the usual "projects" and other homepage features.

[2020-10-19 17:17] jmcmurry commented on #78
This is also confirmed by the fact that some who have previously onboarded are registering but with no known name captured. An example of this is for Contaxis.

[2020-10-19 22:55] waldenan opened #134 "Test to Alex"
Test @alexandradest

[2020-10-19 22:59] alexandradest commented on #134
addressed

[2020-10-19 22:59] #134 closed

[2020-10-20 18:59] jmcmurry commented on #78
Just noting, this is not a bug, it has just not yet been implemented.

[2020-10-22 19:22] amvolz commented on #128
See [ticket #61 in the covid website repository.](https://github.com/National-COVID-Cohort-Collaborative/covid.cd2h.org/issues/61) It is a duplicate of this.

[2020-10-22 19:24] amvolz commented on #112
Original Partnership Packet has been deprecated. Redesigned webpages were created to encompass this information.

[2020-10-22 19:24] #112 closed

[2020-10-22 19:28] amvolz commented on #113
This should be moved to the covid website repository.
[Tools page ](https://covid.cd2h.org/node/385) has been drafted and is in the works.

OMOP tools: Atlas is not yet in Foundry but discussions about porting it into Foundry (will be awhile)
R vs Python: why, difference, what can you do, training
Dave will get logs to concentrate curation effort on high value tools.
Give Andrew Williams a heads u

[2020-10-23 15:34] waldenan opened #135 "Tools and Resources Subgroup: Public Dataset Committee and Tracking process- Chunlei, Liz"
From the Gov committee ...FYI Joel and @jguinney

**Public Dataset Committee Dataset Tracking and posting**
_Tools and Resource Subgroup_

- [ ] Gov wants  a tracking report to with the list of external data sets requested, levels  (0-4) of datasets, status of review (where it is in the process...date requested, date committee reviewed, date DAC review, when implemented in the Enclave, which ones

[2020-10-27 22:11] mellybelly opened #136 "new email for DUR project space set up and onboarding"
The current email is here:

Hi all,
This is Kate, a member of the Palantir team involved in assisting researchers with their analyses. I’d like to offer my congratulations for obtaining access to data within the N3C Data Enclave and help you move forward with your project, a link to your new project workspace is below. I’d be interested to hear your plans for the project, which analysis resources

[2020-11-18 19:25] andrewjneumann commented on #136
this was passed to ken last week, followed up via email yesterday.

[2020-11-18 19:25] #136 closed

[2020-11-19 22:08] #6 closed

[2020-11-19 22:09] #16 closed

[2020-11-19 22:09] #17 closed

[2020-11-19 22:10] andrewjneumann commented on #36
Inprogress in JIRA

[2020-11-19 22:10] #36 closed

[2020-11-19 22:10] andrewjneumann commented on #50
In process in Enclave

[2020-11-19 22:10] #50 closed

[2020-11-19 22:11] andrewjneumann commented on #62
@deacyma is this complete, if not please reopen.

[2020-11-19 22:11] #62 closed

[2020-11-19 22:12] #63 closed

[2020-11-19 22:12] #64 closed

[2020-11-19 22:13] #69 closed

[2020-11-19 22:13] #71 closed

[2020-11-19 22:14] #72 closed

[2020-11-19 22:15] #84 closed

[2020-11-19 22:18] #76 closed

[2020-11-19 22:18] #78 closed

[2020-11-19 22:19] #98 closed

[2020-11-19 22:19] #108 closed

[2020-11-19 22:21] #113 closed

[2020-11-19 22:22] #117 closed

[2020-11-19 22:22] #121 closed

[2020-11-19 22:23] #124 closed

[2020-11-19 22:23] #125 closed

[2020-11-19 22:24] #128 closed

[2020-11-19 22:25] #131 closed

[2020-11-19 22:25] andrewjneumann commented on #132
@oneilsh is this corrected? If not please reopen.

[2020-11-19 22:25] #132 closed

[2020-11-19 22:27] cgcook commented on #133
@jmcmurry @eichmann is this still an open ticket?  We are migrating open issues to Jira.  Pls advise.  thanks!

[2020-11-19 22:29] andrewjneumann commented on #109
Is [jira issue 228](https://n3c-help.atlassian.net/browse/N3CSUPPORT-228)

[2020-11-19 22:29] #109 closed

[2020-11-19 22:30] andrewjneumann commented on #130
Is [Jira issue 229](https://n3c-help.atlassian.net/servicedesk/customer/portal/2/N3CSUPPORT-229)

[2020-11-19 22:30] #130 closed

[2020-11-19 22:31] andrewjneumann commented on #133
is [Jira issue 230](https://n3c-help.atlassian.net/servicedesk/customer/portal/2/N3CSUPPORT-230)

[2020-11-19 22:31] #133 closed

[2020-11-19 22:34] andrewjneumann commented on #135
[is Jira 231](https://n3c-help.atlassian.net/servicedesk/customer/portal/2/N3CSUPPORT-231)

[2020-11-19 22:34] #135 closed